// ******************************************** //
// Barra Integradora - Início

.barra-integradora {
  display: block;
  width: 100%;
  height: 50px;
  background-color: $regalBlue;
}

.barra-integradora-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto 0 auto;
}

.barra-integradora-left,
.barra-integradora-right {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  position: relative;
  width: auto;
  height: auto;
}

.barra-integradora-left {
  justify-content: flex-start;
  margin-left: 0;
}

.barra-integradora-right {
  justify-content: flex-end;
  margin-top: 5px;
  margin-right: 0;
}

.barra-integradora-items {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.barra-integradora-item {
  position: relative;
  color: #87CDFB;
  font-size: 10px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

.barra-integradora-item:hover {
  color: #F6FBFF;
  text-decoration: none;
}

.barra-integradora-item.active {
  color: #F6FBFF;
}

.barra-integradora-left .barra-integradora-item {
  margin-right: 16px;
}

.barra-integradora-left .barra-integradora-item:nth-last-child(1) {
  margin-right: 0;
}

.barra-integradora-right .barra-integradora-item {
  margin-right: 16px;
  text-transform: uppercase;
}

.barra-integradora-right .barra-integradora-item:nth-last-child(1) {
  margin-right: 0;
}

.barra-integradora-item::after {
  content: '';
  display: block;
  position: absolute;
  top: 1px;
  width: 1px;
  height: 12px;
  background-color: #87CDFB;
}

.barra-integradora-left .barra-integradora-item::after {
  right: -8px;
}

.barra-integradora-left .barra-integradora-item:nth-last-child(1)::after {
  display: none;
}

.barra-integradora-right .barra-integradora-item::after {
  left: -8px;
}

.barra-integradora-right .barra-integradora-item:nth-child(1)::after {
  display: none;
}

.transparent-header .barra-integradora {
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.transparent-header .barra-integradora-item {
  color: rgba(255, 255, 255, .75);
}

.transparent-header .barra-integradora-item::after {
  background-color: rgba(255, 255, 255, .5);
}

.transparent-header .barra-integradora-item:hover {
  color: rgba(255, 255, 255, 1);
}

.transparent-header .barra-integradora-item.active {
  color: rgba(255, 255, 255, 1);
}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .barra-integradora {
    height: 30px;
  }

  .barra-integradora-wrapper {
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .barra-integradora-left {
    margin-left: 15px;
  }

  .barra-integradora-right {
    margin-top: 0;
    margin-right: 15px;
  }

  .barra-integradora-right .barra-integradora-item {
    text-transform: none;
  }

  .barra-integradora-item {
    font-size: 12px;
    font-weight: 400;
  }

  .barra-integradora-item::after {
    top: 0;
    width: 1px;
    height: 15px;
  }
}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {
  .barra-integradora-wrapper {
    width: 1100px;
  }
}

// Barra Integradora - Fim
// ******************************************** //