// ******************************************** //
// Buttons - Início


.btn {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border: none;
  outline: none;
  color: #000;
  border: 1px solid #000;
  text-decoration: none;
}

.btn:hover {
  color: #fff;
  background-color: #000;
}


// ******************************************** //
// Sizes

.btn-small {
  padding: 5px 10px 5px 10px;
}

.btn-mid {
  padding: 6px 8px;
}

.btn-medium {
  padding: 10px 18px 10px 18px;
}

.btn-wide {
  padding: 10px 25px 10px 25px;
}


// ******************************************** //
// Styles

// btn-alpha
.btn-alpha {}

.btn-alpha:focus,
.btn-alpha:hover {}

// btn-beta
.btn-beta {
  border-radius: 2px;
  border-color: #fff;
  color: #fff;
}

.btn-beta:focus,
.btn-beta:hover {
  background-color: #fff;
  color: #000;
}


// Buttons - Fim
// ******************************************** //