// ******************************************** //
// Colors

$regalBlue: #004a70; // ref: barra integradora
$allports: #0069ab; // ref: navbar
$curiousBlue: #2C86C0;
$frenchPass: #CAE9FD;


/*
.white {
	background: #fff;

	.section-title {
		color: #464646;
	}

	.rowtitle {
		color: #464646;
	}

	.rowsubtitle {
		color: #646464;
	}

	.rowtext {
		color: #464646;
	}

	.lighttext {
		color: #898989;
	}

	.darktext {
		color: #464646;
	}

	.bartitle {
		color: #464646;
	}

	a {
		color: #464646;
	}

	p {
		color: #464646;
	}

	span {
		color: #464646;
	}

	i {
		color: #464646;
	}
}


.grey {
	background: #eaeaea;

	.section-title {
		color: #464646;
	}

	.rowtitle {
		color: #464646;
	}

	.rowsubtitle {
		color: #898989;
	}

	.rowtext {
		color: #464646;
	}

	.lighttext {
		color: #898989;
	}

	.darktext {
		color: #464646;
	}

	.bartitle {
		color: #464646;
	}

	a {
		color: #464646;
	}

	p {
		color: #464646;
	}

	span {
		color: #464646;
	}

	i {
		color: #464646;
	}
}



.darkgrey {
	background: #1f1f1f;
	color: #fff;

	.section-title {
		color: #fff;
	}

	.rowtitle {
		color: #fff;
	}

	.rowsubtitle {
		color: #fff;
	}

	.rowtext {
		color: #fff;
	}

	.lighttext {
		color: #fff;
	}

	.darktext {
		color: #eee;
	}

	.bartitle {
		color: #fff;
	}

	a {
		color: #fff;
	}

	p {
		color: #fff;
	}

	span {
		color: #fff;
	}

	i {
		color: #fff;
	}
}


.image {
	color: #fff;
	background-color: black;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	.section-title {
		color: #fff;
	}

	.rowtitle {
		color: #fff;
	}

	.rowsubtitle {
		color: #fff;
	}

	.rowtext {
		color: #fff;
	}

	a {
		color: #fff;
	}

	p {
		color: #fff;
	}

	span {
		color: #fff;
	}

	i {
		color: #fff;
	}
}

.image.noscroll {
	background-attachment: scroll;
}
*/