// ******************************************** //
// Hamburger Icon - Início

.hamburger {
  outline: none;
  margin-top: 7px;
}

.hamburger.is-active {}

.hamburger.is-active .hamburger-inner::before {
  background-color: #fff;
}

.hamburger.is-active .hamburger-inner {
  background-color: #fff;
}

.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
  .hamburger {
    display: none;
  }
}

// Hamburger Icon - Fim
// ******************************************** //