// ******************************************** //
// Hero - Início

.hero {
  display: block;
  position: relative;
  width: 100%;
  height: 465px;
  overflow: hidden;
}

.hero-background {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-background video {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.hero-play-button::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background: #0069ab;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

.hero-play-button {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  /* background: #fa183d; */
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
  z-index: 100;
}

.hero-play-button::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background: #0069ab;
  border-radius: 50%;
  transition: all 200ms;
}

.hero-play-button:hover::after {
  background-color: darken(#0069ab, 10%);
}

.hero-play-button img {
  position: relative;
  max-width: 100%;
  width: auto;
  height: auto;
}

.hero-play-button span {
  display: block;
  position: relative;
  width: 0;
  height: 0;
  border-left: 32px solid #fff;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
  z-index: 100;
}

.hero-title {
  padding: 125px 0 0 0;
  width: 300px;
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

/* IPHONE 6 (>370px) */
@media only screen and (min-width: 370px) {
  .hero-title {
    width: 350px;
  }
}

/* ANDROID 1080p (>420px) */
@media only screen and (min-width: 420px) {
  .hero-title {
    width: 400px;
  }
}

/* SMARTPHONE (>520px) */
@media only screen and (min-width: 520px) {
  .hero-title {
    width: auto;
    font-size: 32px;
  }
}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .hero {
    height: 500px;
  }

  .hero-title {
    font-size: 38px;
  }
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
  .hero-title {
    font-size: 48px;
  }

  .hero-content {
    z-index: auto;
  }
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

.hero-frame {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: rgba(0,0,0,0.80);
  transition: all ease 500ms;
}

.hero-frame.open {
  position: fixed;
  opacity: 1;
  z-index: 600;
}

.hero-frame.open iframe {}

.hero-frame .close {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 20px;
  color: #fff;
  font-size: 54px;
  line-height: 1;
  font-weight: 400;
  text-decoration: none;
  transition: all 200ms;
}

.hero-frame-close:hover {
  color: #0069ab;
  text-decoration: none;
}

.hero-frame iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 0 15px rgba(0,0,0,0.75);
  transform: translateX(-50%) translateY(-50%);
}

// Hero - Fim
// ******************************************** //