@import 'mixins', 'z-index';
@import 'colors', 'buttons';
@import 'barra-integradora', 'navbar', 'hamburger', 'social-icons';
@import 'hero', 'tabs';

//@include font-face('Cooper Hewitt', '../fonts/cooperhewitt/CooperHewitt-Thin',              100, normal, otf);
//@include font-face('Cooper Hewitt', '../fonts/cooperhewitt/CooperHewitt-ThinItalic',        100, italic, otf);
//@include font-face('Cooper Hewitt', '../fonts/cooperhewitt/CooperHewitt-Light',               300, normal, otf);
//@include font-face('Cooper Hewitt', '../fonts/cooperhewitt/CooperHewitt-LightItalic',         300, italic, otf);
//@include font-face('Cooper Hewitt', '../fonts/cooperhewitt/CooperHewitt-Book',                400, normal, otf);
//@include font-face('Cooper Hewitt', '../fonts/cooperhewitt/CooperHewitt-BookItalic',          400, italic, otf);
//@include font-face('Cooper Hewitt', '../fonts/cooperhewitt/CooperHewitt-Medium',              500, normal, otf);
//@include font-face('Cooper Hewitt', '../fonts/cooperhewitt/CooperHewitt-MediumItalic',      500, italic, otf);
//@include font-face('Cooper Hewitt', '../fonts/cooperhewitt/CooperHewitt-Semibold',            600, normal, otf);
//@include font-face('Cooper Hewitt', '../fonts/cooperhewitt/CooperHewitt-SemiboldItalic',      600, italic, otf);
//@include font-face('Cooper Hewitt', '../fonts/cooperhewitt/CooperHewitt-Bold',                700, normal, otf);
//@include font-face('Cooper Hewitt', '../fonts/cooperhewitt/CooperHewitt-BoldItalic',          700, italic, otf);
//@include font-face('Cooper Hewitt', '../fonts/cooperhewitt/CooperHewitt-Heavy',               900, normal, otf);
//@include font-face('Cooper Hewitt', '../fonts/cooperhewitt/CooperHewitt-HeavyItalic',         900, italic, otf);

body {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  max-width: none;
  max-height: none;
  background-color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  text-rendering: optimizeLegibility;
}

.hidden {
  display: none !important;
}


// Aleatório - Início
// ******************************************** //

.section {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}

.section-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
}

.section-row {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 1200px;
  height: auto;
  padding: 50px 20px;
  margin: 0 auto;
}

  .section-row.small-pad {
    padding: 25px 10px;
  }

  .section-row.no-pad {
    padding: 0;
  }

    .section-row.no-pad.tb {
      padding: 50px 20px;
      padding-top: 0;
      padding-bottom: 0;
    }

    .section-row.no-pad.lr {
      padding: 50px 20px;
      padding-left: 0;
      padding-right: 0;
    }

  .section-row.no-pad-bottom {
    padding-bottom: 0;
  }

  .section-row.full-width {
    max-width: none;
    width: 100%;
  }

.row-titles {
  margin: 0 auto;
  margin-bottom: 20px;
}

.row-title {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: #464646;
}

.row-subtitle {
  font-size: 21px;
  text-align: center;
  margin: 0;
  color: #464646;
}

.row-text {
  font-size: 15px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 26px;
  color: #464646;
}

  .row-text:last-child {
    margin-bottom: 0px;
  }

  .row-text p:last-child {
    margin-bottom: 0px;
  }

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: auto;
  height: auto;
}

.grid--half {
  width: 50%;
}

.grid--center {
  margin: 0 auto;
}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .section-row {
    width: 748px;
    padding: 100px 40px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .section-row.small-pad {
    padding: 50px 20px;
  }

  .row-titles {
    width: 560px;
    margin-bottom: 24px;
  }

  .row-title {
    font-size: 36px;
  }

  .row-subtitle {
    font-size: 32px;
  }

  .row-text {
    width: 590px;
    margin-bottom: 34px;
    font-size: 18px;
  }
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
  .section-row {
      width: 980px;
  }

  .row-titles {
    width: 560px;
    margin-bottom: 24px;
  }

  .row-title {
    font-size: 36px;
  }

  .row-subtitle {
    font-size: 32px;
  }

  .row-text {
    width: 590px;
    margin-bottom: 34px;
    font-size: 18px;
  }
}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {
  .section-row {
    width: 1200px;
  }

  .row-titles {
    width: 800px;
  }

  .row-text {
    width: 590px;
  }
}


.newscard-alpha {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 250px;
  height: 315px;
  margin: 5px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
}

.newscard-alpha-image {
  display: block;
  width: 100%;
  height: 150px;
  background-size: cover;
  flex-shrink: 0;
}

.newscard-alpha-tag {
  position: absolute;
  top: 10px;
  left: 0;
  padding: 2px 6px 2px 8px;
  background-color: #fff;
  color: #000;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.newscard-alpha-title {
  padding: 10px 30px 10px 10px;
  margin: 0;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

.newscard-alpha-description {
  display: block;
  padding: 0 40px 5px 10px;
  width: calc(100% - 50px);
  height: 66px;
  margin: 0;
  color: #000;
  overflow: hidden;
  font-size: 13px;
  font-weight: 400;
}

.newscard-beta::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
background: -moz-linear-gradient(-45deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.6) 58%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(58%, rgba(0,0,0,0.6)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-linear-gradient(-45deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.6) 58%, rgba(0,0,0,1) 100%);
background: -o-linear-gradient(-45deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.6) 58%, rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.6) 58%, rgba(0,0,0,1) 100%);
background: linear-gradient(135deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.6) 58%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=1 );
z-index: 1;
}

.newscard-beta:hover::before {
  opacity: 0;
}

.newscard-beta {
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: calc(50% - 10px);
  height: 450px;
  margin: 5px;
  background-color: #fff;
}

.newscard-beta::after {
  content: '';
  display: none;
  position: absolute;
  top: 5px;
  left: 5px;
  width: calc(100% - 15px);
  height: calc(100% - 15px);
  opacity: 0;
  border: 2px solid rgba(0, 0, 0, 1);
  z-index: 1;
}

.newscard-beta:hover::after {
  opacity: 1;
}

.grid--half .newscard-beta {
  height: 220px;
}

.newscard-beta-image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-size: cover;
  background-position: center;
transition: all 160ms ease-in;
}

.newscard-beta-image:hover {
  opacity: 1;
}

.newscard-beta:hover .newscard-beta-image {
  opacity: 1;
}

.newscard-beta:hover .newscard-beta-image::after {
  opacity: 1;
}

.newscard-beta-image::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(255,255,255, 1);
transition: all 160ms ease-in;
  z-index: 0;
}

.newscard-beta-tag {
  padding: 2px 6px 2px 6px;
  background-color: rgba(255, 255, 255, 1);
  color: #1B1B1B;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 1;
  transition: all 160ms ease-in;
}

.newscard-beta:hover .newscard-beta-tag {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.75);
  color: #464646;
}

.grid--half .newscard-beta-tag {
  font-size: 10px;
}

.newscard-beta-title {
  padding: 30px 50px;
  margin: 0;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  z-index: 1;
  transition: all 160ms ease-in;
}

.newscard-beta:hover .newscard-beta-title {
  color: #1b1b1b;
}

.grid--half .newscard-beta-title {
  padding: 25px 50px;
  font-size: 16px;
}

.newscard-beta-description {
  display: none;
}

.newscard-beta-date {
  padding: 2px 6px 2px 6px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 1;
  transition: all 160ms ease-in;
}

.newscard-beta:hover .newscard-beta-date {
  color: #1b1b1b;
}

.grid--half .newscard-beta-date {
  font-size: 12px;
}






.newscard-delta {
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
  width: 250px;
  height: 350px;
  margin: 5px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  transition: all 120ms linear;
}

.newscard-delta:hover {
  transform: scale(1.025);
}

.newscard-delta-image::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0);
background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 70%, rgba(0,0,0,0.75) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(70%, rgba(0,0,0,0.5)), color-stop(100%, rgba(0,0,0,0.75)));
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 70%, rgba(0,0,0,0.75) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 70%, rgba(0,0,0,0.75) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 70%, rgba(0,0,0,0.75) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 70%, rgba(0,0,0,0.75) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
}

.newscard-delta-image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  flex-shrink: 0;
  z-index: 0;
}


.newscard-delta-tag {
  position: absolute;
  top: 10px;
  left: -2px;
  padding: 4px 8px 4px 12px;
  background-color: #fff;
  color: #464646;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 0;
}

.newscard-delta-title {
  padding: 10px 30px 10px 10px;
  margin: 0;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  z-index: 0;
}

.newscard-delta-description {
  display: block;
  width: auto;
  height: auto;
  margin: 0 40px 15px 10px;
  color: #E5E5E5;
  overflow: hidden;
  font-size: 13px;
  font-weight: 400;
  z-index: 0;
}

.newscard-delta-date {
  display: none;
}

// Aleatório - Fim
// ******************************************** //


// Scrollbar - Início
// ******************************************** //

::-webkit-scrollbar {}

::-webkit-scrollbar {
  width: 8px;
  height: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: hidden;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

::-webkit-resizer {
  background-color: transparent;
}

// Scrollbar - Fim
// ******************************************** //


// Header - Início
// ******************************************** //

.header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: auto;
  background-color: $allports;
  z-index: 500;
}

// Header - Fim
// ******************************************** //


// Footer - Início
// ******************************************** //

.footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: auto;
  background-color: #004a70;
}

.footer-top,
.footer-bottom {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 25px 0;
  width: 100%;
}

.footer-top {
  align-items: center;
  background-color: #0069ab;
}

.footer-bottom {
  align-items: center;
  background-color: #004a70;
}

.footer-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding: 0 15px;
  width: calc(100% - 30px);
}

.footer-content-left,
.footer-content-right {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
}

.footer-content-left {}

.footer-content-right {}

.footer-content-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 20px 0 0 0;
}

.footer-menus {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.footer-menu {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 0 15px 0;
}

.footer-menu ul {
  display: none;
  padding-left: 0;
  margin: 10px 12px;
  list-style-type: none;
}

.footer-menu.open ul {
  display: block;
}

.footer-menu li {
  display: block;
  position: relative;
}

.footer-menu a {
  color: #FAFAFA;
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
}

.footer-menu a:not(.footer-menu-title):hover {
  text-decoration: underline;
}

.footer-menu .footer-menu-title::before {
  content: '';
  display: block;
  position: absolute;
  top: -2.5%;
  left: 0;
  width: 2px;
  height: 105%;
  border-radius: 1px;
  background-color: rgba(255, 255, 255, 0.75);
}

.footer-menu .footer-menu-title {
  position: relative;
  padding-left: 10px;
  width: calc(100% - 10px);
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}

.footer-menu .footer-menu-title[href^="javascript"]::after {
  content: '\203A';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 100%;
  margin: 0;
  transform: rotateZ(90deg) scale(1.2);
  text-align: center;
}

.footer-menu.open .footer-menu-title::after {
  margin: 0 4px 0 0;
  transform: rotateZ(-90deg) scale(1.2);
}


.footer-logo {
  display: block;
  position: relative;
  width: 62px;
  height: 50px;
}

.footer-logo img,
.footer-logo svg {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
}

.footer-info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin-top: 20px;
  padding: 0 10px;
  width: calc(310px - 20px);
}

.footer-info p {
  padding: 0;
  margin: 0 0 10px 0;
  color: #fff;
  font-size: 12px;
  text-align: center;
  white-space: pre-wrap;
}

.footer-info p:nth-child(2) {
  width: 250px;
}

.footer .social-icons {
  margin: 20px 0 10px 0;
}

.footer .social-icon {
  height: 18px;
}

.footer .social-icon svg * {
  fill: #fff;
}

.footer .social-icon:hover svg * {
  fill: #87CDFB;
}

.footer .barra-integradora {
  display: block;
  margin-top: -15px;
  padding-bottom: 15px;
}

/* IPHONE 6 (>370px) */
@media only screen and (min-width: 370px) {}

/* ANDROID 1080p (>420px) */
@media only screen and (min-width: 420px) {}

/* SMARTPHONE (>520px) */
@media only screen and (min-width: 520px) {}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .footer-bottom .footer-content {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    width: calc(100% - 30px);
  }

  .footer-bottom .footer-content-left,
  .footer-bottom .footer-content-right {
    flex-flow: row nowrap;
    align-items: flex-end;
    width: auto;
  }

  .footer-bottom .footer-content-left {
    justify-content: flex-start;
    align-items: flex-end;
  }

  .footer-bottom .footer-content-right {
    justify-content: flex-end;
  }

  .footer-info {
    align-items: flex-start;
    width: auto;
    margin: 0 0 0 5px;
  }

  .footer-info p {
    margin: 0;
    text-align: left;
  }

  .footer-info p:nth-child(2) {
    width: auto;
  }

  .footer .social-icons {
    margin: 0;
  }

  .footer .barra-integradora {
    display: flex;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 25px;
  }

  .footer .barra-integradora-wrapper {
    padding: 0 15px;
    width: calc(100% - 30px);
  }

  .footer .barra-integradora-left,
  .footer .barra-integradora-right {
    margin: 0;
  }

}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
  .footer-bottom .footer-content,
  .footer-content {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    width: 979px;
  }

  .footer-content-left,
  .footer-content-right {
    flex-flow: row nowrap;
    align-items: flex-end;
    width: auto;
  }

  .footer-content-left {
    justify-content: flex-start;
    align-items: flex-end;
  }

  .footer-content-right {
    justify-content: flex-end;
  }

  .footer-menus {
    flex-flow: row nowrap;
    width: auto;
  }

  .footer-menu {
    width: auto;
    margin: 0 65px 15px 0;
  }

  .footer-menu::before {
    content: '';
    display: block;
    position: absolute;
    top: -2%;
    left: -15px;
    width: 1px;
    height: 104%;
    background-color: rgba(255, 255, 255, 0.25);
  }

  .footer-menu ul {
    display: block;
    margin: 10px 0;
  }

  .footer-menu a {
    font-size: 12px;
  }

  .footer-menu .footer-menu-title::before {
    display: none;
  }

  .footer-menu .footer-menu-title {
    padding-left: 0;
    width: auto;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .footer-menu .footer-menu-title[href^="javascript"]::after {
    display: none;
  }

  .footer-info {
    margin: 0 0 0 25px;
  }

  .footer .social-icons {
    margin: 0;
  }
}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {
  .footer-bottom .footer-content,
  .footer-content {
    padding: 0 25px;
    width: 1100px;
  }

  .footer .barra-integradora-wrapper {
    padding: 0 25px;
    width: 1100px;
  }
}

// Footer - Fim
// ******************************************** //