// ******************************************** //
// Social Icons - Início

.social-icons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.social-icons .social-icon {
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  text-decoration: none;
}

.social-icons .social-icon:nth-child(1) {
  margin-left: 0;
}

.social-icons .social-icon svg {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
}

.social-icons .social-icon svg * {
  fill: #00395A;
}

.social-icons .social-icon:hover svg * {
  fill: rgba(255, 255, 255, 1);
}

.transparent-header .social-icons .social-icon svg * {
  fill: #fff;
}

.transparent-header .social-icons .social-icon:hover svg * {
  fill: rgba(255, 255, 255, .5);
}

// Social Icons - Fim
// ******************************************** //