/**
* ********************************************
*
* MOBILE / SMALL SCREEN (0px - 480px)
*
* ********************************************
*/

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
  resize: vertical;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  max-width: none;
  max-height: none;
  background-color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  transition: transform 160ms ease;
}

body.navbar-menu-active {
  transform: translateX(-250px);
}

a {
  color: #0069ab;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* Scrollbar - Início
/* ******************************************** */

::-webkit-scrollbar {}

::-webkit-scrollbar {
  width: 8px;
  height: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: hidden;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

::-webkit-resizer {
  background-color: transparent;
}

/* Scrollbar - Fim
/* ******************************************** */



/* Header - Início
/* ******************************************** */

.header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 500;
}


/* Navbar - Início
/* ******************************************** */

.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 10px 0;
  width: 100%;
  margin: 0 auto;
  background-color: transparent;
  z-index: 700;
}

.navbar ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 0;
  list-style-type: none;
}

.navbar-left,
.navbar-center,
.navbar-right {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.navbar-left {
  justify-content: flex-start;
  margin-left: 20px;
  z-index: 600;
}

.navbar-center {
  margin: 0;
  margin-left: 20px;
  order: -1;
}

.navbar-right {
  justify-content: flex-end;
  margin-right: 20px;
  z-index: 600;
}

.navbar .navbar-logo {
  display: block;
  position: relative;
  width: auto;
  height: 115px;
  z-index: 100;
}

.navbar .navbar-logo img,
.navbar .navbar-logo svg {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
}

.navbar .social-icons {
  display: none;
}

.navbar .navbar-menu {
  display: none;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.85);
  list-style-type: none;
}

.navbar-menu.is-open {
  display: flex;
}

.navbar-menu li {
  cursor: pointer;
  height: auto;
}

.navbar-menu a {
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  margin: 10px 0;
  color: #fff;
  font-family: 'Hudson NY Regular', sans-serif;
  font-size: 20px;
  text-transform: none;
  text-decoration: none;
}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .navbar .navbar-menu::before {
    height: 30px;
  }
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {
  .navbar { width: 1100px; }
}

/* Navbar - Fim
/* ******************************************** */


/* Navbar Alpha - Início
/* ******************************************** */

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
  .navbar-alpha {
    padding: 0;
    width: 900px;
    height: 60px;
    margin: 60px auto 0 auto;
    background: rgba(255,162,58,1);
    background: -moz-linear-gradient(left, rgba(255,162,58,1) 0%, rgba(252,103,3,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,162,58,1)), color-stop(100%, rgba(252,103,3,1)));
    background: -webkit-linear-gradient(left, rgba(255,162,58,1) 0%, rgba(252,103,3,1) 100%);
    background: -o-linear-gradient(left, rgba(255,162,58,1) 0%, rgba(252,103,3,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,162,58,1) 0%, rgba(252,103,3,1) 100%);
    background: linear-gradient(to right, rgba(255,162,58,1) 0%, rgba(252,103,3,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa23a', endColorstr='#fc6703', GradientType=1 );
    border-radius: 2px;
  }

  .navbar-alpha .navbar-center {
    justify-content: center;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    order: initial;
  }

  .navbar-alpha .navbar-logo {
    width: auto;
    height: 150px;
  }

  .navbar-alpha .navbar-menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    top: initial;
    left: initial;
    width: auto;
    height: 100%;
    background-color: transparent;
  }

  .navbar-alpha .navbar-menu li {
    height: 100%;
  }

  .navbar-alpha .navbar-menu a {
    padding: 2px 16px 0 16px;
    height: calc(100% - 2px);
    margin: 0;
    color: #FAFAFA;
    font-family: 'Hudson NY Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }

  .navbar-alpha .navbar-menu a:hover {
    font-weight: 600;
  }
}

/* Navbar Alpha - Fim
/* ******************************************** */


/* Navbar Beta - Início
/* ******************************************** */

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
  .navbar-beta {
    padding: 0;
    width: 900px;
    height: 60px;
    margin: 60px auto 0 auto;
    background-color: rgba(10, 18, 34, 0.65);
    border-radius: 2px;
  }

  .navbar-beta .navbar-center {
    justify-content: center;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    order: initial;
  }

  .navbar-beta .navbar-logo {
    width: auto;
    height: 150px;
  }

  .navbar-beta .navbar-menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    top: initial;
    left: initial;
    width: auto;
    height: 100%;
    background-color: transparent;
  }

  .navbar-beta .navbar-menu li {
    height: 100%;
  }

  .navbar-beta .navbar-menu a {
    padding: 2px 16px 0 16px;
    height: calc(100% - 2px);
    margin: 0;
    color: #FAFAFA;
    font-family: 'Hudson NY Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }

  .navbar-beta .navbar-menu a:hover {
    font-weight: 600;
  }
}

/* Navbar Beta - Fim
/* ******************************************** */


/* Navbar Delta - Início
/* ******************************************** */

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
  .navbar-delta {
    padding: 0;
    width: 900px;
    height: 60px;
    margin: 60px auto 0 auto;
    background-color: rgba(10, 18, 21, 0.65);
    border-radius: 2px;
  }

  .navbar-delta .navbar-center {
    justify-content: center;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    order: initial;
  }

  .navbar-delta .navbar-logo {
    width: auto;
    height: 150px;
  }

  .navbar-delta .navbar-menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    top: initial;
    left: initial;
    width: auto;
    height: 100%;
    background-color: transparent;
  }

  .navbar-delta .navbar-menu li {
    height: 100%;
  }

  .navbar-delta .navbar-menu a {
    padding: 2px 16px 0 16px;
    height: calc(100% - 2px);
    margin: 0;
    color: #FAFAFA;
    font-family: 'Hudson NY Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }

  .navbar-delta .navbar-menu a:hover {
    font-weight: 600;
  }
}

/* Navbar Delta - Fim
/* ******************************************** */


/* Navbar Gamma - Início
/* ******************************************** */

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
  .navbar-gamma {
    padding: 20px 0;
    align-items: center;
  }

  .navbar-gamma .navbar-logo {
    display: block;
    position: relative;
    width: 100%;
    height: 160px;
    z-index: 100;
  }

  .navbar-gamma .navbar-menu {
    padding: 12px 10px 10px 10px;
    background-color: rgba(0, 14, 21, 0.25);
  }

  .navbar-gamma .navbar-menu a {
    padding: 2px 8px;
    height: 100%;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.95);
    font-family: 'Hudson NY Regular', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 160ms ease;
  }

  .navbar-gamma .navbar-menu a:hover {
    transform: translateY(-1px);
  }
}

/* Navbar Gamma - Fim
/* ******************************************** */


/* Social Icons - Início
/* ******************************************** */

.social-icons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.social-icons .social-icon {
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  text-decoration: none;
}

.social-icons .social-icon:nth-child(1) {
  margin-left: 0;
}

.social-icons .social-icon svg {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
}

.social-icons .social-icon svg * {
  fill: #00395A;
}

.social-icons .social-icon:hover svg * {
  fill: rgba(255, 255, 255, 1);
}

/* Social Icons - Fim
/* ******************************************** */


/* Hamburger Icon - Início
/* ******************************************** */

.hamburger {
  outline: none;
  margin-top: 7px;
}

.hamburger.is-active {}

.hamburger.is-active .hamburger-inner::before {
  background-color: #fff;
}

.hamburger.is-active .hamburger-inner {
  background-color: #fff;
}

.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
  .hamburger {
    display: none;
  }
}

/* Hamburger Icon - Fim
/* ******************************************** */


/* Hero - Início
/* ******************************************** */

.hero {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.hero-text {
  padding: 0 15px;
  color: rgba(255, 255, 255, 1);
  font-size: 28px;
  font-family: 'Nexa', sans-serif;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.hero-text.with-shadow {
  text-shadow: -3px 3px rgba(0, 0, 0, 0.1);
}

/* IPHONE 6 (>370px) */
@media only screen and (min-width: 370px) {
  .hero-text {
    font-size: 34px;
  }
}

/* ANDROID 1080p (>420px) */
@media only screen and (min-width: 420px) {
  .hero-text {
    font-size: 36px;
  }
}

/* SMARTPHONE (>520px) */
@media only screen and (min-width: 520px) {
  .hero-text {
    max-width: 600px;
  }
}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .hero-text {
    font-size: 42px;
  }
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {
  .hero-text {
    max-width: none;
    font-size: 46px;
  }
}

/* Hero - Fim
/* ******************************************** */


/* Breadcrumbs - Início
/* ******************************************** */

.breadcrumbs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding: 5px 10px;
  background-color: transparent;
}

.breadcrumbs-item {
  display: block;
  position: relative;
  color: #fff;
  font-family: 'Cairo', sans-serif;
  font-size: 14px;
  text-decoration: none;
}

.breadcrumbs-item:not(:nth-last-child(1)) {
  margin: 0 20px 0 0;
}

.breadcrumbs-item::after {
  content: '\00BB';
  display: block;
  position: absolute;
  top: 0;
  right: -13px;
  width: auto;
  height: auto;
}

.breadcrumbs-item:nth-last-child(1)::after {
  display: none;
}

.breadcrumbs-item.active {
  font-weight: 600;
}

/* Breadcrumbs - Fim
/* ******************************************** */  


/* Page Header - Início
/* ******************************************** */

.page-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: 50% 20%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.page-header .page-header-overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page-header .page-header-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.page-header .page-header-left,
.page-header .page-header-right {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  height: 100%;
}

.page-header .page-header-left {
  justify-content: flex-start;
}

.page-header .page-header-right {
  justify-content: flex-end;
}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {
  .page-header .page-header-wrapper {
    width: 900px;
  }
}

/* Page Header - Fim
/* ******************************************** */



/* Page Header Alpha - Início
/* ******************************************** */

.page-header-alpha {
  width: 100%;
  height: 300px;
  background-color: #000;
}

.page-header-alpha .page-header-overlay {
  background: rgba(253,135,1,0);
  background: -moz-linear-gradient(top, rgba(253,135,1,0) 0%, rgba(253,135,1,0) 36%, rgba(253,135,1,0.95) 78%, rgba(253,135,1,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(253,135,1,0)), color-stop(36%, rgba(253,135,1,0)), color-stop(78%, rgba(253,135,1,0.95)), color-stop(100%, rgba(253,135,1,1)));
  background: -webkit-linear-gradient(top, rgba(253,135,1,0) 0%, rgba(253,135,1,0) 36%, rgba(253,135,1,0.95) 78%, rgba(253,135,1,1) 100%);
  background: -o-linear-gradient(top, rgba(253,135,1,0) 0%, rgba(253,135,1,0) 36%, rgba(253,135,1,0.95) 78%, rgba(253,135,1,1) 100%);
  background: -ms-linear-gradient(top, rgba(253,135,1,0) 0%, rgba(253,135,1,0) 36%, rgba(253,135,1,0.95) 78%, rgba(253,135,1,1) 100%);
  background: linear-gradient(to bottom, rgba(253,135,1,0) 0%, rgba(253,135,1,0) 36%, rgba(253,135,1,0.95) 78%, rgba(253,135,1,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd8701', endColorstr='#fd8701', GradientType=0 );
}

.page-header-alpha .page-header-wrapper {
  justify-content: flex-end;
  align-items: center;
}

.page-header-alpha .header-title {
  padding: 0;
  margin: 25px 0 10px 0;
  color: rgba(255, 255, 255, 1);
  line-height: 32px;
  font-size: 28px;
  font-family: 'Nexa', sans-serif;
  font-weight: 600;
  text-align: center;
  text-shadow: -4px 4px rgba(0, 0, 0, 0.15);
}

.page-header-alpha .breadcrumbs {
  margin-top: -5px;
  margin-bottom: 15px;
}

/* IPHONE 6 (>370px) */
@media only screen and (min-width: 370px) {
  .page-header-alpha .header-title {
    font-size: 34px;
  }
}

/* ANDROID 1080p (>420px) */
@media only screen and (min-width: 420px) {
  .page-header-alpha .header-title {
    font-size: 38px;
    line-height: 42px;
  }
}

/* SMARTPHONE (>520px) */
@media only screen and (min-width: 520px) {
  .page-header-alpha .header-title {
    max-width: 600px;
  }
}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .page-header-alpha {
    height: 350px;
  }

  .page-header-alpha .header-title {
    font-size: 42px;
    line-height: initial;
  }
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
  .page-header-alpha {
    height: 400px;
  }
}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {=
  .page-header-alpha .header-title {
    max-width: none;
    font-size: 64px;
  }
}

/* Page Header Alpha - Fim
/* ******************************************** */


/* Page Header Beta - Início
/* ******************************************** */

.page-header-beta {
  padding-bottom: 65px;
  height: calc(500px - 65px);
}

.page-header-beta .page-header-overlay {
  background: rgba(255,255,255,0);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.39) 46%, rgba(0,0,0,0.6) 71%, rgba(0,0,0,0.9) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(46%, rgba(0,0,0,0.39)), color-stop(71%, rgba(0,0,0,0.6)), color-stop(100%, rgba(0,0,0,0.9)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.39) 46%, rgba(0,0,0,0.6) 71%, rgba(0,0,0,0.9) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.39) 46%, rgba(0,0,0,0.6) 71%, rgba(0,0,0,0.9) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.39) 46%, rgba(0,0,0,0.6) 71%, rgba(0,0,0,0.9) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,0.39) 46%, rgba(0,0,0,0.6) 71%, rgba(0,0,0,0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
}

.page-header-beta .page-header-wrapper {
  justify-content: flex-end;
}

.page-header-beta .page-header-left,
.page-header-beta .page-header-right {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  height: 100%;
}

.page-header-beta .page-header-left {
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
}

.page-header-beta .page-header-right {
  justify-content: flex-end;
}

.page-header-beta .header-tag {
  color: #fff;
  font-size: 18px;
  font-family: 'Cairo', sans-serif;
}

.page-header-beta .header-title {
  color: #fff;
}

.page-header-beta .header-date {
  color: #fff;
  font-size: 14px;
  font-family: 'Cairo', sans-serif;
}

.page-header-beta .header-title {
  padding: 0;
  max-width: 575px;
  margin: 25px 0 35px 0;
  color: rgba(255, 255, 255, 1);
  font-size: 28px;
  font-family: 'Nexa', sans-serif;
  font-weight: 600;
  text-align: left;
  text-shadow: -4px 4px rgba(0, 0, 0, 0.15);
}

/* IPHONE 6 (>370px) */
@media only screen and (min-width: 370px) {
  .page-header-beta .header-title {
    font-size: 34px;
  }
}

/* ANDROID 1080p (>420px) */
@media only screen and (min-width: 420px) {
  .page-header-beta .header-title {
    font-size: 36px;
  }
}

/* SMARTPHONE (>520px) */
@media only screen and (min-width: 520px) {}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .page-header-beta .header-title {
    font-size: 38px;
  }
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {}

/* Page Header Beta - Fim
/* ******************************************** */


/* Section - Início
/* ******************************************** */

.section {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}

.section-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
}

.section-row {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 1200px;
  height: auto;
  padding: 50px 20px;
  margin: 0 auto;
}

  .section-row.small-pad {
    padding: 25px 15px;
  }

  .section-row.no-pad {
    padding: 0;
  }

    .section-row.no-pad.tb {
      padding: 50px 20px;
      padding-top: 0;
      padding-bottom: 0;
    }

    .section-row.no-pad.lr {
      padding: 50px 20px;
      padding-left: 0;
      padding-right: 0;
    }

  .section-row.no-pad-bottom {
    padding-bottom: 0;
  }

  .section-row.full-width {
    max-width: none;
    width: 100%;
  }

.row-titles {
  margin: 0 auto;
  margin-bottom: 20px;
}

.row-title {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: #464646;
}

.row-title.bold { font-weight: 700; }

.row-subtitle {
  font-size: 21px;
  text-align: center;
  margin: 0;
  color: #fd8601;
  font-weight: 400;
}

.row-subtitle.bold { font-weight: 700; }

.row-text {
  font-size: 15px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 26px;
  color: #464646;
}

  .row-text:last-child {
    margin-bottom: 0px;
  }

  .row-text p:last-child {
    margin-bottom: 0px;
  }

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: auto;
  height: auto;
}

.grid--half {
  width: 50%;
}

.grid--center {
  margin: 0 auto;
}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .section-row {
    width: 748px;
    padding: 100px 40px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .section-row.small-pad {
    padding: 50px 20px;
  }

  .row-titles {
    width: 560px;
    margin-bottom: 24px;
  }

  .row-title {
    font-size: 36px;
  }

  .row-subtitle {
    font-size: 26px;
  }

  .row-text {
    width: 590px;
    margin-bottom: 34px;
    font-size: 18px;
  }
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
  .section-row {
      width: 980px;
  }

  .row-titles {
    width: 560px;
    margin-bottom: 24px;
  }

  .row-title {
    font-size: 36px;
  }

  .row-subtitle {
    font-size: 28px;
  }

  .row-text {
    width: 590px;
    margin-bottom: 34px;
    font-size: 18px;
  }
}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {
  .section-row {
    width: 1100px;
  }

  .row-titles {
    width: 800px;
  }

  .row-text {
    width: 590px;
  }
}

/* Section - Fim
/* ******************************************** */


/* Section Modifiers - Início
/* ******************************************** */

.section.lefthanded .section-row {
  align-items: flex-start;
}

.section.lefthanded .row-titles {
  margin: 0;
  width: 100%;
}

.section.lefthanded .row-title {
  margin-top: 0;
  font-weight: 700;
  text-align: left;
}

.section.lefthanded .row-subtitle {
  text-align: left;
}


.section.orange {
  background-color: #fd8601;
}

.section.orange .row-titles {
  margin-bottom: 0;
}

.section.orange .row-title {
  color: #fff;
  font-weight: 700;
}

.section.orange .row-subtitle {
  color: #fff;
  font-family: 'Cairo', sans-serif;
  font-weight: 700;
}

.section.orange .row-text {
  color: #fff;
}


.section.darkblue {
  background-color: #000E15;
}

.section.darkblue .row-titles {
  margin-bottom: 0;
}

.section.darkblue .row-title {
  color: #fff;
  font-weight: 700;
}

.section.darkblue .row-subtitle {
  color: #fff;
  font-family: 'Cairo', sans-serif;
  font-weight: 700;
}

.section.darkblue .row-text {
  color: #fff;
}

/* Section Modifiers - Fim
/* ******************************************** */






.missao-visao .row-titles {
  width: 580px;
}

.missao-visao .row-title {
  color: #fd8601;
  font-family: 'Nexa', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.missao-visao .row-subtitle {
  color: #000;
  font-family: 'Cairo', sans-serif;
  font-weight: 300;
}


.missao-visao-darkblue .row-title {
  color: #000E15;
}

.section-line {
  display: block;
  position: relative;
  width: 70%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.25);
}

.section-noticias {
  margin: 15px 0;
}



















/* Section Modifiers - Fim
/* ******************************************** */


.section-post .section-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin: 0 auto;
}


.post-content {
  margin: 50px 0;
}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {
  .section-post .section-wrapper {
    width: 950px;
  }
}


.post-content p {
  max-width: 720px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  color: rgba(0,0,0,.84);
  font-family: 'Cairo', sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 38px;
}


.post-content .content-title {
  margin: 50px auto 25px auto;
  font-size: 36px;
  font-weight: 700;
}





.page-content {
  margin: 50px 0;
}


.page-content p {
  max-width: 740px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  color: rgba(0,0,0,.84);
  font-family: 'Cairo', sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 38px;
}


.page-content .content-title {
  margin: 50px auto 25px auto;
  font-size: 36px;
  font-weight: 700;
}



/* IPHONE 6 (>370px) */
@media only screen and (min-width: 370px) {}

/* ANDROID 1080p (>420px) */
@media only screen and (min-width: 420px) {}

/* SMARTPHONE (>520px) */
@media only screen and (min-width: 520px) {}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {}





/* Newscard - Início
/* ******************************************** */

.newscard {}

.newscard-alpha {
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
  width: calc(100% - 40px);
  height: 250px;
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  transition: all 160ms ease;
}

.newscard-alpha:hover .newscard-alpha-overlay {
  background: rgba(255,255,255,0);
background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.65) 0%, rgba(255,132,0,0.73) 53%, rgba(255,132,0,0.8) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(0%, rgba(255,255,255,0.65)), color-stop(53%, rgba(255,132,0,0.73)), color-stop(100%, rgba(255,132,0,0.8)));
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.65) 0%, rgba(255,132,0,0.73) 53%, rgba(255,132,0,0.8) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.65) 0%, rgba(255,132,0,0.73) 53%, rgba(255,132,0,0.8) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.65) 0%, rgba(255,132,0,0.73) 53%, rgba(255,132,0,0.8) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.65) 0%, rgba(255,132,0,0.73) 53%, rgba(255,132,0,0.8) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ff8400', GradientType=0 );
background-position:0;  
}

.newscard-alpha-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   background-size: 100% 100%;  
   background-position: 0 -30px;
 
 background: rgba(255,255,255,0);
background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(152,152,152,0) 30%, rgba(48,48,48,0.65) 60%, rgba(0,0,0,0.7) 74%, rgba(0,0,0,0.8) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(30%, rgba(152,152,152,0)), color-stop(60%, rgba(48,48,48,0.65)), color-stop(74%, rgba(0,0,0,0.7)), color-stop(100%, rgba(0,0,0,0.8)));
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(152,152,152,0) 30%, rgba(48,48,48,0.65) 60%, rgba(0,0,0,0.7) 74%, rgba(0,0,0,0.8) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(152,152,152,0) 30%, rgba(48,48,48,0.65) 60%, rgba(0,0,0,0.7) 74%, rgba(0,0,0,0.8) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(152,152,152,0) 30%, rgba(48,48,48,0.65) 60%, rgba(0,0,0,0.7) 74%, rgba(0,0,0,0.8) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(152,152,152,0) 30%, rgba(48,48,48,0.65) 60%, rgba(0,0,0,0.7) 74%, rgba(0,0,0,0.8) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );

  transition: background 1s ease;
}

.newscard-alpha-image {
  display: block;
  width: 100%;
  height: 150px;
  background-size: cover;
  flex-shrink: 0;
}

.newscard-alpha-tag {
  position: absolute;
  top: 10px;
  left: 0;
  padding: 2px 6px 2px 8px;
  background-color: #fff;
  color: #000;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.newscard-alpha-title {
  padding: 10px 0 5px 10px;
  max-width: 275px;
  margin: 0;
  color: #fff;
  font-family: 'Cairo', sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  z-index: 1;
}

.newscard-alpha-title:hover {
  text-decoration: none;
}

.newscard-alpha-description {
  display: block;
  padding: 0 0 10px 10px;
  width: calc(100% - 80px);
  margin: 0;
  color: #f0f0f0;
  overflow: hidden;
  font-family: 'Cairo', sans-serif;
  font-size: 12px;
  font-weight: 400;
  z-index: 1;
}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .newscard-alpha {
    max-width: 335px;
  }
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {}

/* Newscard - Fim
/* ******************************************** */









/* Footer - Início
/* ******************************************** */

.footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: auto;
  background-color: #fd8601;
}

.footer.darkblue {
  background-color: #000E15;
}

.footer-sections {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: auto;
}

.footer-map {
  width: 100%;
  height: 400px;
}

.footer-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 20px;
  width: calc(100% - 40px);
  margin: 0 auto;
}

.footer-content-left,
.footer-content-right {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.footer-content-left {}

.footer-content-right {}

.footer-content-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 20px 0 0 0;
}

.footer-logo {
  display: block;
  position: relative;
  width: auto;
  height: 100px;
}

.footer-logo img,
.footer-logo svg {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
}

.footer-info::before {
  content: '';
  display: block;
  position: absolute;
  top: -20px;
  left: calc(25% / 2);
  width: 75%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}

.footer-info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: 100%;
  margin-top: 45px;
}

.footer-info p {
  margin: 0;
  color: #fff;
  font-family: 'Cairo', sans-serif;
  font-weight: 300;
  text-align: center;
}

.footer-info .footer-info-title {
  font-size: 18px;
}

.footer-info .footer-info-description {
  font-size: 15px;
  margin-top: -2px;
}

.footer-info .footer-info-address {
  font-size: 13px;
}

.footer .social-icons {
  margin: 30px 0 15px 0;
}

.footer .social-icon {
  height: 18px;
}

.footer .social-icon svg * {
  fill: #fff;
}

.footer .social-icon:hover svg * {
  fill: rgba(255, 255, 255, 0.75);
}

/* IPHONE 6 (>370px) */
@media only screen and (min-width: 370px) {}

/* ANDROID 1080p (>420px) */
@media only screen and (min-width: 420px) {}

/* SMARTPHONE (>520px) */
@media only screen and (min-width: 520px) {}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .footer-content {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .footer-content-left,
  .footer-content-right {
    flex-flow: row nowrap;
    width: auto;
  }

  .footer-info::before {
    top: -5px;
    left: -20px;
    width: 1px;
    height: 75px;
  }

  .footer-info {
    align-items: flex-start;
    margin-top: 0;
    margin-left: 35px;
  }

  .footer-info p {
    text-align: left;
  }

  .footer .social-icons {
    margin: 0;
  }
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {
  .footer-content {
    padding: 40px 0;
    width: 1100px;
  }
}

/* Footer - Fim
/* ******************************************** */


/**
* ********************************************
*
* IPHONE 6 (>370px)
*
* ********************************************
*/
@media only screen and (min-width: 370px) {}


/**
* ********************************************
*
* ANDROID 1080p (>420px)
*
* ********************************************
*/
@media only screen and (min-width: 420px) {}


/**
* ********************************************
*
* SMARTPHONE (>520px)
*
* ********************************************
*/
@media only screen and (min-width: 520px) {}


/**
* ********************************************
*
* TABLET (>767px)
*
* ********************************************
*/
@media only screen and (min-width: 767px) {}


/**
* ********************************************
*
* DEFAULT (>979px)
*
* ********************************************
*/
@media only screen and (min-width: 979px) {}


/**
* ********************************************
*
* LARGE SCREEN (>1199px)
*
* ********************************************
*/
@media only screen and (min-width: 1199px) {}


/**
* ********************************************
* Helper Classes
* ********************************************
*/

/*
* Hide visually and from screen readers
*/
.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}


/* ==========================================================================
Print styles.
Inlined to avoid the additional HTTP request:
http://www.phpied.com/delay-loading-your-print-css/
========================================================================== */

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
color: #000 !important; /* Black prints faster:
http://www.sanbeiji.com/archives/953 */
box-shadow: none !important;
text-shadow: none !important;
}

a,
a:visited {
  text-decoration: underline;
}

a[href]:after {
  content: " (" attr(href) ")";
}

abbr[title]:after {
  content: " (" attr(title) ")";
}

/*
* Don't show links that are fragment identifiers,
* or use the `javascript:` pseudo protocol
*/
a[href^="#"]:after,
a[href^="javascript:"]:after {
  content: "";
}

pre,
blockquote {
  border: 1px solid #999;
  page-break-inside: avoid;
}

/*
* Printing Tables:
* http://css-discuss.incutio.com/wiki/Printing_Tables
*/
thead {
  display: table-header-group;
}

tr,
img {
  page-break-inside: avoid;
}

img {
  max-width: 100% !important;
}

p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}

h2,
h3 {
  page-break-after: avoid;
}
}
