/**
 * Colors
 * 
 */

.white {
	background: #fff;
}

	.white .n-row-title {
		color: #464646;
	}

	.white .n-row-subtitle {
		color: #646464;
	}

	.white .n-row-text {
		color: #464646;
	}

	.white a {
		color: #464646;
	}

	.white p {
		color: #464646;
	}

	.white span {
		color: #464646;
	}

	.white i {
		color: #464646;
	}


.grey {
	background: #eaeaea;
}

	.grey .n-row-title {
		color: #464646;
	}

	.grey .n-row-subtitle {
		color: #898989;
	}

	.grey .n-row-text {
		color: #464646;
	}

	.grey a {
		color: #464646;
	}

	.grey p {
		color: #464646;
	}

	.grey span {
		color: #464646;
	}

	.grey i {
		color: #464646;
	}


.darkgrey {
	background: #1f1f1f;
	color: #fff;
}

	.darkgrey .n-row-title {
		color: #fff;
	}

	.darkgrey .n-row-subtitle {
		color: #fff;
	}

	.darkgrey .n-row-text {
		color: #fff;
	}

	.darkgrey a {
		color: #fff;
	}

	.darkgrey p {
		color: #fff;
	}

	.darkgrey span {
		color: #fff;
	}

	.darkgrey i {
		color: #fff;
	}

.image {
	color: #fff;
	background-color: black;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

	.image .n-row-title {
		color: #fff;
	}

	.image .n-row-subtitle {
		color: #fff;
	}

	.image .n-row-text {
		color: #fff;
	}

	.image a {
		color: #fff;
	}

	.image p {
		color: #fff;
	}

	.image span {
		color: #fff;
	}

	.image i {
		color: #fff;
	}

	.image.noscroll {
		background-attachment: scroll;
	}
