/**
* ********************************************
*
* MOBILE / SMALL SCREEN (0px - 480px)
*
* ********************************************
*/

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
  resize: vertical;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  max-width: none;
  max-height: none;
  background-color: #F0F0F0;
  font-family: 'Segoe UI', sans-serif;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
  color: #0069ab;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* Scrollbar - Início
/* ******************************************** */

::-webkit-scrollbar {}

::-webkit-scrollbar {
  width: 8px;
  height: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: hidden;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

::-webkit-resizer {
  background-color: transparent;
}

/* Scrollbar - Fim
/* ******************************************** */


/* Header - Início
/* ******************************************** */


.header::before {
  content: '';
  display: none;
  position: absolute;
  top: -15px;
  left: -20px;
  width: 125px;
  height: 200px;
  background-color: rgba(0, 0, 0, 1.0);
  transform: rotate(12deg);
}

.header {
  position: relative;
  width: 100%;
  background-color: #FFF;
  overflow: hidden;
}

/* Header - Fim
/* ******************************************** */


/* Navbar - Início
/* ******************************************** */

.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: 50px;
  margin: 0 auto;
}

.navbar-left,
.navbar-center,
.navbar-right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
  height: 100%;
}

.navbar-left {
  justify-content: flex-start;
  margin-left: 20px;
  z-index: 1;
}

.navbar-center {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.navbar-right {
  justify-content: flex-end;
  margin-right: 20px;
}

.navbar-logo {
  position: relative;
  width: auto;
  height: 25px;
}

.navbar-logo svg {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
}

.navbar-logo svg * {
  fill: #000;
}

.navbar-search::before {
  content: '';
  display: none;
  position: absolute;
  top: -6px;
  left: -20px;
  width: 1px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.25);
}

.navbar-search {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 300px;
  height: 30px;
  margin-top: 0;
}

.navbar-search:hover input {
  background-color: rgba(0, 0, 0, 0.025);
}

.navbar-search input {
  display: block;
  padding: 0 10px;
  width: calc(100% - 20px);
  height: 100%;
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  outline: none;
  transition: all 160ms ease-out;
}

.navbar-search input:focus {
  border-bottom-width: 2px;
}

.navbar-search input::placeholder {
  font-weight: 300;
}

.navbar-search .icon {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 10px;
  bottom: 12px;
  width: 15px;
  height: 15px;
}

.navbar-search .icon svg * {
  fill: rgba(0, 0, 0, 0.5 );
}

.navbar-user {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: auto;
  height: 30px;
}

.navbar-user-picture::before {
  content: '';
  display: block;
  position: absolute;
  top: -3px;
  left: -3px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 1.0);
}

.navbar-user-picture {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-size: cover;
  background-position: center;
}


/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1350px) {
  .navbar { width: 1200px; }
}

/* Navbar - Fim
/* ******************************************** */


/* Insidebar - Início
/* ******************************************** */

.insidebar {
  position: relative;
  width: 100%;
  height: 30px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.2);
}

.insidebar-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.insidebar-left,
.insidebar-center,
.insidebar-right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
  height: 100%;
}

.insidebar-left {
  justify-content: flex-start;
  margin-left: 20px;
}

.insidebar-center {
  display: none;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.insidebar-right {
  justify-content: flex-end;
}

.insidebar .btn {
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: 100%;
  color: #fff;  
  font-size: 12px;
}

.insidebar .btn::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background-color: #fff;
  transition: all 160ms ease;
}

.insidebar .btn:focus::before,
.insidebar .btn:hover::before {
  height: 4px;
} 

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1350px) {
  .insidebar-wrapper { width: 1350px;  }
}

/* Insidebar - Fim
/* ******************************************** */


/* Section - Início
/* ******************************************** */

.section {
  display: block;
  position: relative;
}

.section-wrapper {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.section-wrapper.with-sidebar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.section-titles {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  margin: 20px;
}

.section-title {
  margin: 0;
  font-size: 32px;
  font-weight: 400;
}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1350px) {
  .section-wrapper { width: 1200px;  }
}

/* Section - Fim
/* ******************************************** */


/* Grid - Início
/* ******************************************** */

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: auto;
  height: auto;
}

.grid--half {
  width: 50%;
}

.grid--center {
  margin: 0 auto;
}

/* Grid - Fim
/* ******************************************** */


/* Breadcrumbs - Início
/* ******************************************** */

.breadcrumbs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding: 5px 0;
  background-color: transparent;
}

.breadcrumbs-item {
  display: block;
  position: relative;
  color: #FFF;
  font-size: 14px;
  text-decoration: none;
}

.breadcrumbs-item:focus,
.breadcrumbs-item:hover {
  text-decoration: underline;
}

.breadcrumbs-item:not(:nth-last-child(1)) {
  margin: 0 20px 0 0;
}

.breadcrumbs-item::after {
  content: '\00BB';
  display: block;
  position: absolute;
  top: 0;
  right: -13px;
  width: auto;
  height: auto;
}

.breadcrumbs-item:nth-last-child(1)::after {
  display: none;
}

.breadcrumbs-item.active {
  font-weight: 600;
}

/* Breadcrumbs - Fim
/* ******************************************** */  


/* Page - Início
/* ******************************************** */

.page-header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.page-title {
  margin: 20px 0;
  color: #464646;
  font-size: 32px;
  font-weight: 300;
}

/* Page - Fim
/* ******************************************** */


/* Page Primary - Início
/* ******************************************** */

.page-primary {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 0 20px;
}

.page-primary .page-header {
  padding: 10px 0;
}

.page-primary-title {
  margin: 16px 0;
  color: #868686;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.page-primary-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  margin-bottom: 15px;
}

.page-primary-picture::before {
  content: '';
  display: none;
  position: absolute;
  top: -3px;
  left: -3px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 1.0);
}

.page-primary-picture {
  display: block;
  position: relative;
  width: 160px;
  height: 160px;
  background-size: cover;
  background-position: center;
  margin-right: 30px;
}

.page-primary-info .inputs {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.page-primary-info .input {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.page-primary-info .input label {
  display: none;
  font-size: 12px;
  text-transform: uppercase;
}

.page-primary-info .input input {
  padding: 2px 0;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  outline: none;
  font-size: 14px;
}

.page-primary-info .input input::placeholder {
  font-weight: 300;
}

.page-primary-info .input-primary {
  width: 600px;
}

.page-primary-info .input-primary input {
  /*padding: 5px 0;*/
  font-size: 36px;
  line-height: 20px;
}

.page-primary-info .input-secondary {
  width: 500px;
  margin-top: 10px;
}

.page-primary-info .input-secondary input {
  padding: 5px 0;
  font-size: 20px;
}

.page-primary-info .input-third {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  margin-top: 20px;
}

.page-primary-info .input-third span {
  font-weight: 300;
  font-size: 16px;
  margin: 0 10px 0 0;
}

.page-primary-info .input-third::after {
  content: '';
  display: none;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.25);
}

.page-primary-info .roles {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.page-primary-info .role {}

.page-primary-info .role {
  background-color: #000;
}

.page-primary-info .role .role-title {
  color: #fff;
  font-weight: 400;
}

.page-primary-info .role-small {
  padding: 0 10px;
  margin: 0 10px 0 0;
}

.page-primary-info .role-small .role-title {
  margin: 0;
  padding: 0;
  line-height: 25px;
  font-size: 11px;
  text-transform: uppercase;
}

.page-primary-info .role-primary {
  background-color: #F0A71A;
}

.page-primary-info .role-primary .role-title {
  color: #FFF;
}

.page-primary-info .role-secundary {
  background-color: #DA5617;
}

.page-primary-info .role-secundary .role-title {
  color: #FFF;
}

.page-primary-info .role-dark {
  background-color: #454545;
}

.page-primary-info .new-role {
  cursor: pointer;
  display: block;
  position: relative;
  padding: 6px 3px;
  width: auto;
  height: 15px;
}

.page-primary-info .new-role svg {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
}

.page-primary-info .new-role svg * {
  fill: rgba(0, 0, 0, 0.55);
}

.page-primary-content {
  display: block;
  position: relative;
  width: 800px;
  height: auto;
  margin: 0 0 15px 0;
  background-color: #fff;
}

.primary-content-header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: auto;
}

.primary-content-header::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.15);
}

.primary-content-header-left,
.primary-content-header-right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: auto;
  height: auto;
}

.primary-content-header-left {
  justify-content: flex-start;
}

.primary-content-header-right {
  justify-content: flex-end;
}

.primary-content-header-left.with-button .primary-content-title {
  margin-right: 20px;
}

.primary-content-header-left.with-button .primary-content-title::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: -10px;
  width: 1px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.25);
}

.primary-content-header .btn {
  padding: 2px 5px;
  color: #464646;
  font-size: 12px;
  text-transform: uppercase;
  border: 1px solid rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

.primary-content-header-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 15px;
  width: calc(100% - 30px);
  height: auto;
}

.primary-content-header-row:nth-child(1) {}

.primary-content-header-row.no-pad {
  padding: 0;
  width: 100%;
}

.primary-content-title {
  position: relative;
  padding: 0;
  margin: 0;
  color: #464646;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.primary-list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.primary-list-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 0 15px 8px 15px;
  width: calc(100% - 30px);
}

.primary-list-header .attribute {
  font-size: 14px;
  font-weight: 600;
}

.primary-list-items {
  width: 100%;
}

.primary-list-items .new-item {
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 0 5px;
  width: calc(100% - 10px);
  height: 45px;
  background-color: #fafafa;
  border-bottom: 1px solid #D0D0D0;
}

.primary-list-items .new-item .icon {
  display: block;
  position: relative;
  width: 12px;
  height: 12px;
  padding: 0 10px;
}

.primary-list-items .new-item .icon svg {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
}

.primary-list-items .new-item .text {
  font-size: 16px;
  font-weight: 400;
}

.primary-list-items .item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 0 15px;
  width: calc(100% - 30px);
  height: 45px;
  background-color: transparent;
  border-bottom: 1px solid #D0D0D0;
}

.primary-list-items [data-attribute] {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.primary-list-items .item:nth-child(odd) {
  background-color: #fafafa;
}

.primary-list-items .attribute {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

.primary-list-items .actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: auto;
  height: auto;
}

.primary-list-items .action {
  display: block;
  position: relative;
  padding: 5px;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border-radius: 50px;
  line-height: 1px;
  transition: all 160ms ease;
}

.primary-list-items .action:not(:nth-last-child(1)) {
  margin-right: 5px;
}

.primary-list-items .action:hover {
  transform: scale(1.2);
}



.primary-list-header [data-attribute="nome"],
.primary-list-items [data-attribute="nome"] {
  padding-right: 20px;
  width: calc(30% - 20px);
}

.primary-list-header [data-attribute="descricao"],
.primary-list-items [data-attribute="descricao"] {
  padding-right: 20px;
  width: calc(28% - 20px);
}

.primary-list-header [data-attribute="atributo"],
.primary-list-items [data-attribute="atributo"] {
  padding-right: 20px;
  width: calc(22% - 20px);
}

.primary-list-header [data-attribute="tipo"],
.primary-list-items [data-attribute="tipo"] {
  padding-right: 20px;
  width: calc(20% - 20px);
}

.primary-list-header [data-attribute="actions"],
.primary-list-items [data-attribute="actions"] {
  width: 55px;
}

/* Page Primary - Fim
/* ******************************************** */


/* Page Secondary - Início
/* ******************************************** */

.page-secondary {
  display: block;
  position: relative;
  padding: 0 20px;
}

.page-secondary-title {
  margin: 16px 0;
  color: #868686;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.page-secondary-content {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  width: 100%;
  height: auto;
}

.page-secondary-content .card-collection {
  margin-right: 15px;
  margin-bottom: 15px;
}

/* Page Secondary - Fim
/* ******************************************** */


/* Page Third - Início
/* ******************************************** */

.page-third {
  display: block;
  position: relative;
  padding: 0 20px;
  padding-bottom: 20px;
}

.page-third-title {
  margin: 16px 0;
  color: #868686;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.page-third-inputs {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: auto;
  height: auto;
}

.page-third-columns {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: auto;
  height: auto;
}

.page-third-column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: auto;
  height: auto;
}

.page-third-column:not(:nth-last-child(1)) {
  margin-right: 20px;
}

/* Page Third - Fim
/* ******************************************** */


/* Page Fourth - Início
/* ******************************************** */

.page-fourth {
  display: block;
  position: relative;
  padding: 0 20px;
  padding-bottom: 20px;
}

.page-fourth .page-inputs {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: auto;
  height: auto;
}

/* Page Fourth - Fim
/* ******************************************** */


/* Card - Início
/* ******************************************** */

.card {}

.card-collection {
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
  padding: 20px;
  width: calc(180px - 20px);
  height: calc(180px - 20px);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.card-collection-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
background: rgba(255,255,255,0);
background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 56%, rgba(255,255,255,0.67) 68%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(56%, rgba(255,255,255,0)), color-stop(68%, rgba(255,255,255,0.67)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 56%, rgba(255,255,255,0.67) 68%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 56%, rgba(255,255,255,0.67) 68%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 56%, rgba(255,255,255,0.67) 68%, rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 56%, rgba(255,255,255,0.67) 68%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}

.card-collection p {
  margin: 0;
}

.card-collection-title {
  font-size: 16px;
  font-weight: 600;
  z-index: 1;
}

.card-collection-info {
  font-size: 14px;
  font-weight: 400;
  z-index: 1;
}




.card-collection-secondary {
  align-items: center;
}

/* Card - Fim
/* ******************************************** */





/* Widget - Início
/* ******************************************** */

.widgets {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  position: relative;
  padding: 15px 20px;
  margin: 0 auto;
}

.widget {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: auto;
  height: auto;
  background-color: #fff;
}

.widget-header {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.widget-header-top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: 35px;
}

.widget-header-bottom {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: auto;
}

.widget-header-left,
.widget-header-right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
  padding: 0 10px;
  height: 100%;
}

.widget-header-left {
  justify-content: flex-start;
}

.widget-header-right {
  justify-content: flex-end;
}

.widget-header .btn {
  padding: 2px 5px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  color: #464646;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
}

.widget-header .btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.widget-title {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

.widget-header-attributes {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px 10px;
  width: calc(100% - 20px);
}

.widget-header-attribute {}

.widget-header-attribute span {
  position: relative;
  font-size: 13px;
  font-weight: 600;
}

.widget-header-attribute span::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 150%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.5);
}

.widget-content {
  padding: 0 10px 10px 10px;
}

.widget-content-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.widget-rows {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: auto;
}

.widget-row {
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 10px;
  width: calc(100% - 20px);
  height: 45px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.widget-row-left,
.widget-row-right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
  width: auto;
  height: 100%;
  overflow: hidden;
}

.widget-row-left {
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.widget-row-right {
  position: absolute;
  top: 0;
  right: 10px;
  justify-content: flex-end;
  flex-shrink: 0;
}

.widget-row .btn {
  padding: 2px 5px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  color: #464646;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
}

.widget-row .btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.widget-row-title {
  font-size: 15px;
  font-weight: 600;
}

.widget-row-subtitle {
  position: relative;
  font-size: 12px;
  font-weight: 400;
}

.widget-row-attribute {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
}

.widget-row-attribute .name {
  font-size: 12px;
  font-weight: 600;
}

.widget-row-attribute .value {
  display: block;
  width: 100%;
  overflow: hidden;
  font-size: 13px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.widget-alpha {
  width: 25%;
}

.widget-alpha .widget-row-left {
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}

.widget-beta {
  width: 70%;
}

.widget-beta [data-type]:not(:nth-last-child(1)) {
  margin-right: 10px;
}

.widget-beta [data-type="Texto"] {
  width: 25%;
}











.page-widget {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin: 0 0 15px 0;
  background-color: #fff;
}

.page-widget-header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: auto;
}

.page-widget-header::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.15);
}

.page-widget-header .left,
.page-widget-header .right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: auto;
  height: auto;
}

.page-widget-header .left {
  justify-content: flex-start;
}

.page-widget-header .right {
  justify-content: flex-end;
}

.page-widget-header .left.with-button .primary-content-title {
  margin-right: 20px;
}

.page-widget-header .left.with-button .primary-content-title::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: -10px;
  width: 1px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.25);
}

.page-widget-header .btn {
  padding: 2px 5px;
  color: #464646;
  font-size: 12px;
  text-transform: uppercase;
  border: 1px solid rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

.page-widget-header-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 15px;
  width: calc(100% - 30px);
  height: auto;
}

.page-widget-header-row:nth-child(1) {}

.page-widget-header-row.no-pad {
  padding: 0;
  width: 100%;
}

.page-widget-title {
  position: relative;
  padding: 0;
  margin: 0;
  color: #464646;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.page-widget-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  padding: 15px 0;
  width: 100%;
}

.page-widget-content .left,
.page-widget-content .right {
  position: relative;
}

.page-widget-content .left {
  padding-left: 15px;
}

.page-widget-content .right {
  padding-right: 15px;
}

.page-widget-content.nopad .left,
.page-widget-content.nopad .right {
  padding: 0;
}

.page-widget-content .left.nopad,
.page-widget-content .right.nopad {
  padding: 0;
}

.page-widget-content .full {
  padding: 0 15px;
  width: calc(100% - 30px);
}

.page-widget .inputs {
  width: 100%;
}










/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1350px) {
  .widgets {
    padding: 15px 0;
    width: 1200px;
  }
}





.collection-item {
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  padding: 10px;
  width: calc(110px - 20px);
  height: calc(110px - 20px);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.collection-item-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
background: rgba(255,255,255,0);
background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 56%, rgba(255,255,255,0.67) 68%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(56%, rgba(255,255,255,0)), color-stop(68%, rgba(255,255,255,0.67)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 56%, rgba(255,255,255,0.67) 68%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 56%, rgba(255,255,255,0.67) 68%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 56%, rgba(255,255,255,0.67) 68%, rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 56%, rgba(255,255,255,0.67) 68%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}

.collection-item p {
  margin: 0;
}

.collection-item-title {
  padding: 2px 4px;
  background-color: #fff;
  font-size: 16px;
  font-weight: 600;
  z-index: 1;
}







/* Widget - Fim
/* ******************************************** */









/* Login - Início
/* ******************************************** */

.page-login {
  background-color: #fff;
}

.login {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
}

.login .logo {
  display: block;
  position: relative;
  padding: 75px 25px;
  max-width: 300px;
  width: auto;
  height: 100px;
}

.login .logo svg {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
}

.login .input {
  width: 400px;
}

.login input {
  width: 100%;
}

.login input:-webkit-autofill {
  color: #fff;
  background: transparent;
  border-bottom: 2px solid #FFDE03;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

.login .action {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 15px 0;
  width: 100%;
  height: auto;
}

.login .action .forgot {
  color: #000;
  font-size: 14px;
}

.login .action .forgot:focus,
.login .action .forgot:hover {
  text-decoration: underline;
  outline: none;
}

.login .action .submit {
  color: #000;
  font-size: 14px;
}

/* Login - Fim
/* ******************************************** */




/* Rise Modal - Início
/* ******************************************** */

.rise-modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.rise-modal.is-open {
  z-index: 0;
}

.rise-modal .sweet-modal-overlay {
  z-index: 991;
}

.rise-modal [data-layer="1"].sweet-modal-overlay {
  z-index: calc(991 + 1);
}

.rise-modal [data-layer="1"] .sweet-modal-box {
  z-index: calc(992 + 1);
}

.rise-modal [data-layer="2"].sweet-modal-overlay {
  z-index: calc(991 + 2);
}

.rise-modal [data-layer="2"] .sweet-modal-box {
  z-index: calc(992 + 2);
}

.rise-modal [data-layer="3"].sweet-modal-overlay {
  z-index: calc(991 + 3);
}

.rise-modal [data-layer="3"] .sweet-modal-box {
  z-index: calc(992 + 3);
}

/* Rise Modal - Fim
/* ******************************************** */

[data-name="ModalEditAttribute"] .btn-primary {
  margin-top: 20px;
}


/* IPHONE 6 (>370px) */
@media only screen and (min-width: 370px) {}

/* ANDROID 1080p (>420px) */
@media only screen and (min-width: 420px) {}

/* SMARTPHONE (>520px) */
@media only screen and (min-width: 520px) {}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {}



/**
* ********************************************
*
* IPHONE 6 (>370px)
*
* ********************************************
*/
@media only screen and (min-width: 370px) {}


/**
* ********************************************
*
* ANDROID 1080p (>420px)
*
* ********************************************
*/
@media only screen and (min-width: 420px) {}


/**
* ********************************************
*
* SMARTPHONE (>520px)
*
* ********************************************
*/
@media only screen and (min-width: 520px) {}


/**
* ********************************************
*
* TABLET (>767px)
*
* ********************************************
*/
@media only screen and (min-width: 767px) {}


/**
* ********************************************
*
* DEFAULT (>979px)
*
* ********************************************
*/
@media only screen and (min-width: 979px) {}


/**
* ********************************************
*
* LARGE SCREEN (>1199px)
*
* ********************************************
*/
@media only screen and (min-width: 1199px) {}


/**
* ********************************************
* Helper Classes
* ********************************************
*/

/*
* Hide visually and from screen readers
*/
.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}


/* ==========================================================================
Print styles.
Inlined to avoid the additional HTTP request:
http://www.phpied.com/delay-loading-your-print-css/
========================================================================== */

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
color: #000 !important; /* Black prints faster:
http://www.sanbeiji.com/archives/953 */
box-shadow: none !important;
text-shadow: none !important;
}

a,
a:visited {
  text-decoration: underline;
}

a[href]:after {
  content: " (" attr(href) ")";
}

abbr[title]:after {
  content: " (" attr(title) ")";
}

/*
* Don't show links that are fragment identifiers,
* or use the `javascript:` pseudo protocol
*/
a[href^="#"]:after,
a[href^="javascript:"]:after {
  content: "";
}

pre,
blockquote {
  border: 1px solid #999;
  page-break-inside: avoid;
}

/*
* Printing Tables:
* http://css-discuss.incutio.com/wiki/Printing_Tables
*/
thead {
  display: table-header-group;
}

tr,
img {
  page-break-inside: avoid;
}

img {
  max-width: 100% !important;
}

p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}

h2,
h3 {
  page-break-after: avoid;
}
}
