@font-face {
    font-family: 'Futura LT Condensed';
    src: url('FuturaLT-CondensedLight.eot');
    src: url('FuturaLT-CondensedLight.eot?#iefix') format('embedded-opentype'),
        url('FuturaLT-CondensedLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Futura LT Condensed';
    src: url('FuturaLT-CondensedLightObl.eot');
    src: url('FuturaLT-CondensedLightObl.eot?#iefix') format('embedded-opentype'),
        url('FuturaLT-CondensedLightObl.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Futura LT Condensed';
    src: url('FuturaLT-Condensed.eot');
    src: url('FuturaLT-Condensed.eot?#iefix') format('embedded-opentype'),
        url('FuturaLT-Condensed.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura LT Condensed';
    src: url('FuturaLT-CondensedOblique.eot');
    src: url('FuturaLT-CondensedOblique.eot?#iefix') format('embedded-opentype'),
        url('FuturaLT-CondensedOblique.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Futura LT Condensed';
    src: url('FuturaLT-CondensedBold.eot');
    src: url('FuturaLT-CondensedBold.eot?#iefix') format('embedded-opentype'),
        url('FuturaLT-CondensedBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura LT Condensed';
    src: url('FuturaLT-CondensedBoldOblique.eot');
    src: url('FuturaLT-CondensedBoldOblique.eot?#iefix') format('embedded-opentype'),
        url('FuturaLT-CondensedBoldOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Futura LT Condensed';
    src: url('FuturaLT-CondensedExtraBold.eot');
    src: url('FuturaLT-CondensedExtraBold.eot?#iefix') format('embedded-opentype'),
        url('FuturaLT-CondensedExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Futura LT Condensed';
    src: url('FuturaLT-CondExtraBoldObl.eot');
    src: url('FuturaLT-CondExtraBoldObl.eot?#iefix') format('embedded-opentype'),
        url('FuturaLT-CondExtraBoldObl.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}















@font-face {
    font-family: 'Futura LT';
    src: url('FuturaLT-Light.eot');
    src: url('FuturaLT-Light.eot?#iefix') format('embedded-opentype'),
        url('FuturaLT-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Futura LT';
    src: url('FuturaLT-LightOblique.eot');
    src: url('FuturaLT-LightOblique.eot?#iefix') format('embedded-opentype'),
        url('FuturaLT-LightOblique.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Futura LT';
    src: url('FuturaLT-Book.eot');
    src: url('FuturaLT-Book.eot?#iefix') format('embedded-opentype'),
        url('FuturaLT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura LT';
    src: url('FuturaLT-BookOblique.eot');
    src: url('FuturaLT-BookOblique.eot?#iefix') format('embedded-opentype'),
        url('FuturaLT-BookOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Futura LT';
    src: url('FuturaLT.eot');
    src: url('FuturaLT.eot?#iefix') format('embedded-opentype'),
        url('FuturaLT.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura LT';
    src: url('FuturaLT-Oblique.eot');
    src: url('FuturaLT-Oblique.eot?#iefix') format('embedded-opentype'),
        url('FuturaLT-Oblique.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Futura LT';
    src: url('FuturaLT-Bold.eot');
    src: url('FuturaLT-Bold.eot?#iefix') format('embedded-opentype'),
        url('FuturaLT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura LT';
    src: url('FuturaLT-BoldOblique.eot');
    src: url('FuturaLT-BoldOblique.eot?#iefix') format('embedded-opentype'),
        url('FuturaLT-BoldOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Futura LT';
    src: url('FuturaLT-ExtraBold.eot');
    src: url('FuturaLT-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('FuturaLT-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Futura LT';
    src: url('FuturaLT-ExtraBoldOblique.eot');
    src: url('FuturaLT-ExtraBoldOblique.eot?#iefix') format('embedded-opentype'),
        url('FuturaLT-ExtraBoldOblique.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Futura LT';
    src: url('FuturaLT-Heavy.eot');
    src: url('FuturaLT-Heavy.eot?#iefix') format('embedded-opentype'),
        url('FuturaLT-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Futura LT';
    src: url('FuturaLT-HeavyOblique.eot');
    src: url('FuturaLT-HeavyOblique.eot?#iefix') format('embedded-opentype'),
        url('FuturaLT-HeavyOblique.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
