@font-face {
    font-family: 'Hudson NY Press';
    font-style: normal;
    font-weight: 400;
    src: url('./Hudson NY Press.otf') format("opentype");
}

@font-face {
    font-family: 'Hudson NY Regular';
    font-style: normal;
    font-weight: 400;
    src: url('./Hudson NY Regular.otf') format("opentype");
}

@font-face {
    font-family: 'Hudson NY Serif Press';
    font-style: normal;
    font-weight: 400;
    src: url('./Hudson NY Serif Press.otf') format("opentype");
}

@font-face {
    font-family: 'Hudson NY Serif';
    font-style: normal;
    font-weight: 400;
    src: url('./Hudson NY Serif.otf') format("opentype");
}

@font-face {
    font-family: 'Hudson NY Slab Press';
    font-style: normal;
    font-weight: 400;
    src: url('./Hudson NY Slab Press.otf') format("opentype");
}

@font-face {
    font-family: 'Hudson NY Slab';
    font-style: normal;
    font-weight: 400;
    src: url('./Hudson NY Slab.otf') format("opentype");
}