/**
* ********************************************
*
* MOBILE / SMALL SCREEN (0px - 480px)
*
* ********************************************
*/

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
  resize: vertical;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  max-width: none;
  max-height: none;
  background-color: #FFF;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
  color: #0069ab;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* Scrollbar - Início
/* ******************************************** */

::-webkit-scrollbar {}

::-webkit-scrollbar {
  width: 8px;
  height: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: hidden;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

::-webkit-resizer {
  background-color: transparent;
}

/* Scrollbar - Fim
/* ******************************************** */


.header {
  position: relative;
  width: 100%;
}

.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: 100px;
}

.navbar-left,
.navbar-center,
.navbar-right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
  height: 100%;
}

.navbar-left {
  justify-content: flex-start;
  margin-left: 25px;
}

.navbar-center {
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.navbar-right {
  justify-content: flex-end;
  margin-right: 25px;
}

.navbar-logo {
  position: relative;
  width: auto;
  height: 50px;
}

.navbar-logo svg {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
}

.sidenav {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 300px;
  height: 100vh;
  background-color: #F5F5F5;
}

.sidenav-top,
.sidenav-middle,
.sidenav-bottom {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
}

.sidenav-top {
  /*background-color: red;*/
}

.sidenav-middle {
  /*background-color: blue;*/
}

.sidenav-bottom {
  margin-top: auto;
}

.sidenav-title {
  padding: 5px 25px;
  color: #8C8C8C;
  font-family: 'Segoe UI', sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.sidenav-separator {
  display: block;
  position: relative;
  margin: 8px 25px;
  width: calc(100% - 50px);
  height: 1px;
  background-color: #C7C7C7;
}

.sidenav-logo {
  position: relative;
  width: auto;
  height: 40px;
  margin: 25px;
}

.sidenav-logo svg {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
}

.sidenav-logo svg * {
  fill: #343434;
}

.site-info {
  display: block;
  position: relative;
  width: 100%;
  margin: 25px 0;
}

.site-name {
  display: block;
  position: relative;
  padding: 0 25px;
  width: calc(100% - 50px);
  font-family: 'Segoe UI', sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-overflow: ellipsis;
}

.sidemenu {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
}

.sidemenu ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding: 0;
  width: 100%;
  margin: 0;
  list-style-type: none;
}

.sidemenu li {
  display: block;
  width: 100%;
}

.sidemenu a {
  display: block;
  position: relative;
  padding: 5px 25px;
  width: calc(100% - 50px);
  height: auto;
  margin: 1px 0;
  color: #525252;
  font-family: 'Cambria', sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

.sidemenu a:hover {
  color: #000;
}

.sidemenu .active a {
  color: #000;
  font-weight: 600;
}


/* Header - Início
/* ******************************************** */

/* Header - Fim
/* ******************************************** */

/**
* ********************************************
*
* IPHONE 6 (>370px)
*
* ********************************************
*/
@media only screen and (min-width: 370px) {}


/**
* ********************************************
*
* ANDROID 1080p (>420px)
*
* ********************************************
*/
@media only screen and (min-width: 420px) {}


/**
* ********************************************
*
* SMARTPHONE (>520px)
*
* ********************************************
*/
@media only screen and (min-width: 520px) {}


/**
* ********************************************
*
* TABLET (>767px)
*
* ********************************************
*/
@media only screen and (min-width: 767px) {}


/**
* ********************************************
*
* DEFAULT (>979px)
*
* ********************************************
*/
@media only screen and (min-width: 979px) {}


/**
* ********************************************
*
* LARGE SCREEN (>1199px)
*
* ********************************************
*/
@media only screen and (min-width: 1199px) {}


/**
* ********************************************
* Helper Classes
* ********************************************
*/

/*
* Hide visually and from screen readers
*/
.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}


/* ==========================================================================
Print styles.
Inlined to avoid the additional HTTP request:
http://www.phpied.com/delay-loading-your-print-css/
========================================================================== */

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
color: #000 !important; /* Black prints faster:
http://www.sanbeiji.com/archives/953 */
box-shadow: none !important;
text-shadow: none !important;
}

a,
a:visited {
  text-decoration: underline;
}

a[href]:after {
  content: " (" attr(href) ")";
}

abbr[title]:after {
  content: " (" attr(title) ")";
}

/*
* Don't show links that are fragment identifiers,
* or use the `javascript:` pseudo protocol
*/
a[href^="#"]:after,
a[href^="javascript:"]:after {
  content: "";
}

pre,
blockquote {
  border: 1px solid #999;
  page-break-inside: avoid;
}

/*
* Printing Tables:
* http://css-discuss.incutio.com/wiki/Printing_Tables
*/
thead {
  display: table-header-group;
}

tr,
img {
  page-break-inside: avoid;
}

img {
  max-width: 100% !important;
}

p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}

h2,
h3 {
  page-break-after: avoid;
}
}
