/**
* ********************************************
*
* MOBILE / SMALL SCREEN (0px - 480px)
*
* ********************************************
*/

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
  resize: vertical;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  max-width: none;
  max-height: none;
  background-color: #F0F0F0;
  font-family: 'Titillium Web', sans-serif;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
  color: #0069ab;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* Scrollbar - Início
/* ******************************************** */

::-webkit-scrollbar {}

::-webkit-scrollbar {
  width: 8px;
  height: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: hidden;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

::-webkit-resizer {
  background-color: transparent;
}

/* Scrollbar - Fim
/* ******************************************** */


/* Header - Início
/* ******************************************** */


.header::before {
  content: '';
  display: none;
  position: absolute;
  top: -15px;
  left: -20px;
  width: 125px;
  height: 200px;
  background-color: rgba(0, 0, 0, 1.0);
  transform: rotate(12deg);
}

.header {
  position: absolute;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

/* Header - Fim
/* ******************************************** */


/* Navbar - Início
/* ******************************************** */

.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: 150px;
  margin: 0 auto;
}

.navbar-left,
.navbar-center,
.navbar-right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
  height: 100%;
}

.navbar-left {
  justify-content: flex-start;
  margin-left: 25px;
}

.navbar-center {
  display: none;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.navbar-right {
  justify-content: flex-end;
  margin-right: 25px;
}

.navbar-logo {
  position: relative;
  width: auto;
  height: 100px;
}

.navbar-logo svg {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
}

.navbar-menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  list-style-type: none;
}

.navbar-menu li {}

.navbar-menu a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  background-color: #fff;
  transition: all 160ms ease-out;
  z-index: -1;
}

.navbar-menu a {
  position: relative;
  padding: 8px 12px;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: 'Myriad Pro', sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 160ms ease-out;
}

.navbar-menu a:focus::before,
.navbar-menu a:hover::before {
    top: 0;
}

.navbar-menu a:focus,
.navbar-menu a:hover {
  color: #000;
}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1350px) {
  .navbar { width: 1350px;  }
}

/* Navbar - Fim
/* ******************************************** */


/* Section - Início
/* ******************************************** */

.section {
  display: block;
  position: relative;
}

.section-wrapper {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.section-wrapper.with-sidebar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.section-titles {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  margin: 20px;
}

.section-title {
  margin: 0;
  font-size: 32px;
  font-weight: 400;
}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1350px) {
  .section-wrapper { width: 1350px;  }
}

/* Section - Fim
/* ******************************************** */


/* Grid - Início
/* ******************************************** */

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: auto;
  height: auto;
}

.grid--half {
  width: 50%;
}

.grid--center {
  margin: 0 auto;
}

/* Grid - Fim
/* ******************************************** */


/* Breadcrumbs - Início
/* ******************************************** */

.breadcrumbs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding: 5px 0;
  background-color: transparent;
}

.breadcrumbs-item {
  display: block;
  position: relative;
  color: #FFF;
  font-size: 14px;
  text-decoration: none;
}

.breadcrumbs-item:focus,
.breadcrumbs-item:hover {
  text-decoration: underline;
}

.breadcrumbs-item:not(:nth-last-child(1)) {
  margin: 0 20px 0 0;
}

.breadcrumbs-item::after {
  content: '\00BB';
  display: block;
  position: absolute;
  top: 0;
  right: -13px;
  width: auto;
  height: auto;
}

.breadcrumbs-item:nth-last-child(1)::after {
  display: none;
}

.breadcrumbs-item.active {
  font-weight: 600;
}

/* Breadcrumbs - Fim
/* ******************************************** */  


/* Hero - Início
/* ******************************************** */

.hero {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1.0);
  background-size: cover;
  background-position: center center;
}

.hero-wrapper {
  width: 100%;
  height: 100%;
}

.hero-titles::before {
  content: '';
  display: block;
  position: absolute;
  top: -50px;
  width: 10%;
  height: 4px;
  background-color: #FCC633;
}

.hero-titles {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin-top: 50px;
}

.hero-titles p {
  padding: 5px 0;
  margin: 0;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.hero-pretitle {
  font-size: 34px;
  font-weight: 400;
  text-transform: uppercase;
}

.hero-title {
  font-size: 76px;
  font-weight: 700;
}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1350px) {
  .hero-wrapper { width: 1350px;  }
}



.hero-unidade .hero-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: static;
}

.hero-unidade::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(50% + 100px);
  height: 100%;
  background-color: rgba(243, 174, 0, 0.75);
  transform: skew(-14deg) translateX(-140px);
}

.hero-unidade .hero-left {
  display: block;
  position: static;
  width: calc(50% + 160px);
  height: 100%;
  transform: skew(-14deg) translateX(-140px);
}

.hero-unidade .hero-right {
  display: block;
  position: relative;
  width: 50%;
  height: 100%;
}

.hero-unidade .hero-content-translator {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  margin: 50px 0 0 20px;
  width: calc(100% - 20px);
  height: calc(100% - 50px);
  transform: skew(14deg) translateX(145px);
}

.hero-unidade .unidade-titles {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding-top: 80px;
}

.hero-unidade .unidade-titles::after {
  content: '';
  display: none;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 80%;
  height: 5px;
  font-size: 0px;
  line-height: 0%;
  border-top: 5px solid #fff;
  border-right: 5px solid transparent;
}

.hero-unidade .unidade-hat {
  margin: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.hero-unidade .unidade-title {
  margin: 0;
  color: #fff;
  font-family: 'Futura LT', sans-serif;
  font-size: 58px;
  font-weight: 700;
}

.hero-unidade .unidade-endereco {
  margin-top: 25px;
}

.hero-unidade .unidade-endereco .unidade-hat {
  margin-bottom: 10px;
}

.hero-unidade .unidade-endereco .unidade-title {
  font-size: 24px;
  font-weight: 400;
}

.hero-unidade .unidade-horarios {
  margin-top: 30px;
}

.hero-unidade .unidade-horarios table {
  margin-top: 15px;
}

.hero-unidade .unidade-horarios td {
  position: relative;
}

.hero-unidade .unidade-horarios td:not(:nth-last-child(1))::after {
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  right: 10px;
  width: 1px;
  height: calc(100% + 5px);
  background-color: #fff;
}

.hero-unidade .unidade-horarios thead td {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.hero-unidade .unidade-horarios thead td:not(:nth-last-child(1)) {
  padding-right: 20px;
}

.hero-unidade .unidade-horarios tbody td {
  padding: 8px 0;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.hero-unidade .unidade-contato {
  margin-top: 20px;
}

.hero-unidade .unidade-contato .unidade-hat {
  margin-bottom: 10px;
}

.hero-unidade .unidade-contato .unidade-title {
  font-size: 16px;
  font-weight: 400;
}



/* Hero - Fim
/* ******************************************** */


/* Section - Início
/* ******************************************** */

.section {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  font-family: 'Poppins', sans-serif;
}

.section-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
}

.section-row {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 2200px;
  height: auto;
  padding: 50px 20px;
  margin: 0 auto;
}

  .section-row.small-pad {
    padding: 25px 15px;
  }

  .section-row.no-pad {
    padding: 0;
  }

    .section-row.no-pad.tb {
      padding: 50px 20px;
      padding-top: 0;
      padding-bottom: 0;
    }

    .section-row.no-pad.lr {
      padding: 50px 20px;
      padding-left: 0;
      padding-right: 0;
    }

  .section-row.no-pad-bottom {
    padding-bottom: 0;
  }

  .section-row.full-width {
    max-width: none;
    width: 100%;
  }

.section-map iframe {
  width: 100%;
  height: 500px;
}

.row-titles {
  margin: 0 auto;
  margin-bottom: 20px;
}

.row-title {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: #464646;
}

.row-title.bold { font-weight: 700; }

.row-subtitle {
  font-size: 21px;
  text-align: center;
  margin: 0;
  color: #848484;
  font-weight: 400;
}

.row-subtitle.bold { font-weight: 700; }

.row-text {
  font-size: 15px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 26px;
  color: #464646;
}

  .row-text:last-child {
    margin-bottom: 0px;
  }

  .row-text p:last-child {
    margin-bottom: 0px;
  }

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: auto;
  height: auto;
}

.grid--half {
  width: 50%;
}

.grid--center {
  margin: 0 auto;
}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .section-row {
    width: 748px;
    padding: 100px 40px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .section-row.small-pad {
    padding: 50px 20px;
  }

  .row-titles {
    width: 560px;
    margin-bottom: 24px;
  }

  .row-title {
    font-size: 36px;
  }

  .row-subtitle {
    font-size: 26px;
  }

  .row-text {
    width: 590px;
    margin-bottom: 34px;
    font-size: 18px;
  }
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
  .section-row {
      width: 980px;
  }

  .row-titles {
    width: 560px;
    margin-bottom: 24px;
  }

  .row-title {
    font-size: 36px;
  }

  .row-subtitle {
    font-size: 28px;
  }

  .row-text {
    width: 590px;
    margin-bottom: 34px;
    font-size: 18px;
  }
}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {
  .section-row {
    width: 1300px;
  }

  .row-titles {
    width: 800px;
  }

  .row-text {
    width: 590px;
  }
}

/* Section - Fim
/* ******************************************** */

.section-two {
  background-color: #fff;
}

.section-two .section-row {
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.section-column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.column-titles::before {
  content: '';
  display: block;
  position: absolute;
  top: -20px;
  width: 75px;
  height: 3px;
  background-color: #FCC633;
}

.column-titles {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  max-width: 625px;
  margin: 80px 25px 80px 0;
}

.column-title {
  margin: 10px 0;
  font-size: 54px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
}

.column-subtitle {
  margin: 10px 0 30px 0;
  font-size: 28px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
}

.column-text {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  color: #464646;
}

.column-lateral-image {
  display: block;
  position: relative;
  margin: 0;
  width: 625px;
  height: 490px;
  background-size: cover;
  background-position: center center;
}





.section-three {
  height: auto;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.section-three .section-row {
  justify-content: flex-start;
  align-items: flex-start;
}

.section-three .row-titles {
  width: auto;
  margin: 0;
  margin-bottom: 20px;
}

.section-three .row-title {
  margin: 20px 0 40px 0;
  color: #fff;
  font-family: 'Futura LT', sans-serif;
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
}


.section-four {
  background-color: #fff;
}

.section-four .section-row {
  justify-content: flex-start;
  align-items: flex-start;
}

.section-four .row-titles::before {
  content: '';
  display: block;
  position: absolute;
  top: -20px;
  width: 75px;
  height: 3px;
  background-color: #FCC633;
}

.section-four .row-titles {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  max-width: 625px;
  margin: 0;
}

.section-four .row-title {
  margin: 10px 0;
  font-size: 54px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
}




.section-cards {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  overflow-x: scroll;
  position: relative;
}

.section-card-one {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 300px;
  height: 350px;
  background-color: #fff;
  flex-shrink: 0;
  /*box-shadow: 2px 4px 20px 5px rgba(0, 0, 0, 0.15);*/ 
}

.section-card-one:not(:nth-last-child(1)) {
  margin-right: 25px;
}

.section-card-one .card-picture {
  display: block;
  width: 100%;
  height: 175px;
  background-size: cover;
  background-position: center center;
  filter: grayscale(0.6);
}

.section-card-one .card-picture::after {
  content: '';
  display: none;
  position: absolute;
  top: 2.5%;
  left: 2.5%;
  width: 95%;
  height: 95%;
  background-color: rgba(255, 255, 255, 0.5);
}

.section-card-one .card-title {
  display: block;
  width: auto;
  padding: 15px;
  margin: 0;
  background-color: #fff;
  color: #333333;
  font-family: 'Futura LT', sans-serif;
  font-size: 24px;
  font-weight: 700;
  z-index: 1;
}

.section-card-one .card-info {
  padding: 0 15px;
}

.section-card-one .card-info label {
  color: #464646;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}

.section-card-one .card-info p {
  margin: 2px 0 0 0;
  color: #464646;
  font-size: 16px;
  font-weight: 400;
}

.section-card-one .btn {
  padding: 7px 10px 5px 10px;
  margin: 20px 15px 15px 15px;
  background-color: #333333;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
}

.section-card-one .btn:hover {
  background-color: #000;
}









.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 30px;
}

.gallery figure {
  margin: 0;
  margin-bottom: 20px;
  width: 240px;
  transition: transform 160ms ease;
}

.gallery figure:focus,
.gallery figure:hover {
  transform: scale(1.05);
}

.gallery figure:not(:nth-last-child(1)) {
  margin-right: 20px;
}

.gallery img {
  width: 100%;
}









/* Section Modifiers - Fim
/* ******************************************** */

.section.orange {
  background-color: #fd8601;
}

.section.orange .row-titles {
  margin-bottom: 0;
}

.section.orange .row-title {
  color: #fff;
  font-weight: 700;
}

.section.orange .row-subtitle {
  color: #fff;
  font-family: 'Cairo', sans-serif;
  font-weight: 700;
}

.section.orange .row-text {
  color: #fff;
}

/* Section Modifiers - Fim
/* ******************************************** */




/* Footer - Início
/* ******************************************** */

.footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: auto;
  background-color: #333333;
}

.footer-sections {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: auto;
}

.footer-map {
  width: 100%;
  height: 400px;
}

.footer-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 20px;
  width: calc(100% - 40px);
  margin: 0 auto;
}

.footer-content-left,
.footer-content-right {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.footer-content-left {}

.footer-content-right {}

.footer-content-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 20px 0 0 0;
}

/* IPHONE 6 (>370px) */
@media only screen and (min-width: 370px) {}

/* ANDROID 1080p (>420px) */
@media only screen and (min-width: 420px) {}

/* SMARTPHONE (>520px) */
@media only screen and (min-width: 520px) {}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .footer-content {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .footer-content-left,
  .footer-content-right {
    flex-flow: row nowrap;
    width: auto;
  }
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {
  .footer-content {
    padding: 40px 0;
    width: 1100px;
  }
}

/* Footer - Fim
/* ******************************************** */










/* IPHONE 6 (>370px) */
@media only screen and (min-width: 370px) {}

/* ANDROID 1080p (>420px) */
@media only screen and (min-width: 420px) {}

/* SMARTPHONE (>520px) */
@media only screen and (min-width: 520px) {}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {}



/**
* ********************************************
*
* IPHONE 6 (>370px)
*
* ********************************************
*/
@media only screen and (min-width: 370px) {}


/**
* ********************************************
*
* ANDROID 1080p (>420px)
*
* ********************************************
*/
@media only screen and (min-width: 420px) {}


/**
* ********************************************
*
* SMARTPHONE (>520px)
*
* ********************************************
*/
@media only screen and (min-width: 520px) {}


/**
* ********************************************
*
* TABLET (>767px)
*
* ********************************************
*/
@media only screen and (min-width: 767px) {}


/**
* ********************************************
*
* DEFAULT (>979px)
*
* ********************************************
*/
@media only screen and (min-width: 979px) {}


/**
* ********************************************
*
* LARGE SCREEN (>1199px)
*
* ********************************************
*/
@media only screen and (min-width: 1199px) {}


/**
* ********************************************
* Helper Classes
* ********************************************
*/

/*
* Hide visually and from screen readers
*/
.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}


/* ==========================================================================
Print styles.
Inlined to avoid the additional HTTP request:
http://www.phpied.com/delay-loading-your-print-css/
========================================================================== */

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
color: #000 !important; /* Black prints faster:
http://www.sanbeiji.com/archives/953 */
box-shadow: none !important;
text-shadow: none !important;
}

a,
a:visited {
  text-decoration: underline;
}

a[href]:after {
  content: " (" attr(href) ")";
}

abbr[title]:after {
  content: " (" attr(title) ")";
}

/*
* Don't show links that are fragment identifiers,
* or use the `javascript:` pseudo protocol
*/
a[href^="#"]:after,
a[href^="javascript:"]:after {
  content: "";
}

pre,
blockquote {
  border: 1px solid #999;
  page-break-inside: avoid;
}

/*
* Printing Tables:
* http://css-discuss.incutio.com/wiki/Printing_Tables
*/
thead {
  display: table-header-group;
}

tr,
img {
  page-break-inside: avoid;
}

img {
  max-width: 100% !important;
}

p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}

h2,
h3 {
  page-break-after: avoid;
}
}
