
/* Navbar - Início
/* ******************************************** */

.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: 50px;
  margin: 0 auto;
}

.navbar-left,
.navbar-center,
.navbar-right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
  height: 100%;
}

.navbar-left {
  justify-content: flex-start;
  margin-left: 20px;
  z-index: 1;
}

.navbar-center {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.navbar-right {
  justify-content: flex-end;
  margin-right: 20px;
}

.navbar-logo {
  position: relative;
  width: auto;
  height: 25px;
}

.navbar-logo svg {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
}

.navbar-logo svg * {
  fill: #000;
}

.navbar-search::before {
  content: '';
  display: none;
  position: absolute;
  top: -6px;
  left: -20px;
  width: 1px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.25);
}

.navbar-search {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 300px;
  height: 30px;
  margin-top: 0;
}

.navbar-search:hover input {
  background-color: rgba(0, 0, 0, 0.025);
}

.navbar-search input {
  display: block;
  padding: 0 10px;
  width: calc(100% - 20px);
  height: 100%;
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  outline: none;
  transition: all 160ms ease-out;
}

.navbar-search input:focus {
  border-bottom-width: 2px;
}

.navbar-search input::placeholder {
  font-weight: 300;
}

.navbar-search .icon {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 10px;
  bottom: 12px;
  width: 15px;
  height: 15px;
}

.navbar-search .icon svg * {
  fill: rgba(0, 0, 0, 0.5 );
}

.navbar-user {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: auto;
  height: 30px;
}

.navbar-user-picture::before {
  content: '';
  display: block;
  position: absolute;
  top: -3px;
  left: -3px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 1.0);
}

.navbar-user-picture {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-size: cover;
  background-position: center;
}


/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1350px) {
  .navbar { width: 1200px; }
}

/* Navbar - Fim
/* ******************************************** */
