.widget-fields [data-attribute="nome"] {
  padding-right: 20px;
  width: calc(30% - 20px);
}

.widget-fields [data-attribute="descricao"] {
  padding-right: 20px;
  width: calc(28% - 20px);
}

.widget-fields [data-attribute="atributo"] {
  padding-right: 20px;
  width: calc(22% - 20px);
}

.widget-fields [data-attribute="tipo"] {
  padding-right: 20px;
  width: calc(20% - 20px);
}

.widget-fields [data-attribute="actions"] {
  width: 55px;
}
